<div class="content-list" layout-wrap layout="<%-data.layout%>">
  <%
  for(var item of data.items){
    %>
    <div class="item">
    <div class="ag-margin" layout="row">
    <md-icon md-svg-src="<%-get_icon(item.icon||'material/keyboard-arrow-right')%>">
    </md-icon>
    <div flex="auto">
    <%-lng(item.text)%>
    </div>
    </div>
    </div>
    <%
  }
  %>
</div>
