.page-login #wrap {
  background-image: url("/assets/images/backgrounds/green-field.jpg?version=1495720676612");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}
.page-login ng-view {
  background: transparent;
}
.page-login .login {
  max-width: 450px;
}
.page-login .details {
  width: 400px;
  max-width: 100%;
  margin: 30px auto;
  background: #fff;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
