md-dialog.push-changes{

  max-width: 600px;

  .status{
    .file{
      .entry{
        color: white;
        font-weight: bold;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        line-height: 30px;
        text-align: center;
        margin-left: 6px;
      }
    }
  }

  .error{

    text-align: center;
    color: color-red;

    md-icon{
      margin: 10px auto;
      width: 80px;
      height: 80px;
    }
  }

  .message{
    text-align: center;
    border-bottom: solid 3px #e8e8e8;
    padding-bottom: 15px;
    line-height: 32px;
    font-size: 18px;
  }

  form{
    border-radius: 7px;
    box-shadow: 0 3px 6px grey;
  }

}
