.as-sortable-item, .as-sortable-placeholder {
  min-height: 20px;
}

.as-sortable-item {

  >div>.data-node{
    margin-top: 0;

  }
}

.as-sortable-item-handle {
}

.as-sortable-placeholder {
  border: dashed 2px color-primary;
  box-sizing: border-box;
}

.as-sortable-drag {
  opacity: .8;
  background: color-grey;
  padding: 10px;
}

.as-sortable-hidden {
}
