.has-role{

  position: relative;

  &.has-no-role{
    pointer-events: none;

    &.role-hide{
      display: none;
    }

    >*:not(.ui-lock){
      opacity: 0.2;
    }
    .ui-lock{
      z-index: 2;
      display: flex;
      position: absolute;
      top:0;
      right:0;

      md-icon{
        margin: 0;
        width: 28px;
        height: 28px;
        color: #888888;
      }
    }
  }

  .ui-lock{
    display: none;
  }
}
