html, body {
  -webkit-overflow-scrolling: touch
}
:-ms-fullscreen, .ui-content #view-content .ui-services .flex-50 {
  flex: auto;
}

:-ms-fullscreen, :root {
  [class*=flex] {
    flex-basis: auto;
  }
}

md-input-container .input-white .md-input{
  -ms-flex-preferred-size: 100%;
}

.md-dialog-container {
  display: block;
}

:-ms-fullscreen, .info-content  {
    // flex: 100%;
}

:-ms-fullscreen, .content.flex {
  flex:100%;
}

:-ms-fullscreen, a {
  color:#000;
  text-decoration: none;
}
