.edit-gui{

  padding: 20px 10px;
  width: 1000px;
  max-width: 95%;
  margin: auto;

  .general-info{
    label{
      margin-right: 10px;
      font-weight: bold;
    }
  }

  .page-data{

    background: white;
    border-radius: 10px;

    .heading{
      background: color-grey;
      md-icon{
        margin-right: 10px;
      }
      .title{
        font-size: 1.2em;
      }
    }

    >.data-node{
      border-bottom: solid 1px #e0dede;
      padding-bottom: 10px;
      margin-bottom: 10px;

      &:last-child{
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }

    .data-node{
      .header{
        .field-label{
          font-weight: bold;
          width: 150px;
          md-icon{
            margin: 0;
          }
        }
      }
    }

    .md-input, .ql-editor{
      padding: 20px 10px;
      border: none
      background: #5d5d5d;
      color: #fff;
      border-radius: 2px;

    }

    md-input-container{
      width: 100%;
      margin: 0;

      &.select{
        width: initial;
      }

      &.has-postfix{
        .md-input{
          padding-right: 60px;
        }
      }

      .md-errors-spacer{
        display: none;
      }

      .postfix{
        position: absolute;
        right: 10px;
        color: white;
        top: 50%;
        margin-top: -20px;
        line-height: 40px;
      }

      label{
        display: none;
      }
    }

    .type-boolean{
      margin: 0;
    }

    .delete{
      cursor: pointer;
      color: color-red;
    }

  }
}
