<div class="data-tools" layout="row" layout-align="start center">
<%if(false){%>
<md-icon class="attributes" ng-click="editAttributes(data)" md-svg-icon="<%-get_icon('material/label')%>">
 <md-tooltip md-direction="top">
   Attributes
 </md-tooltip>
</md-icon>
<%}%>
<md-icon class="delete" ng-if="!field.validators.required&&!field.hidden" ng-click="removeValue(key,parent)" md-svg-icon="<%-get_icon('material/delete')%>"></md-icon>
</div>
