.site-menu{

	width: 420px;

	.search-list{
		background: color-grey;
		padding: 0 18px;
		input{
			background: transparent;
			margin: 0;
			padding: 18px;
			.md-errors-spacer{
				display: none;
			}
		}
	}

	.page-header{
		border-bottom: dashed 1px #cccccc;
		padding: 10px;
		.md-icon-button{
			background: whitesmoke;
		}
	}
	.ui-tabs{
		>.header{
			box-shadow: 0 4px 4px #b1b1b1;
			padding: 7px 0;
		}
	}
	.ag-list-item{
		.image{
			width: 60px;
			height: 60px;
			border-radius: 100%;
			background-position: center;
			background-size: cover;
		}
	}

	.highlighted{
		font-weight: bold;
		color: black;
	}

	.log{
		md-list-item{
			padding: 10px 0;
			.time{
				color: color-primary;
				font-weight: bold;
			}
			.message{
				white-space: pre-line;
				line-height: 1.5em;
			}
			p{
				margin: 0;
			}
		}
	}
}
