.site-menu{

	width: 420px;

	.search-list{
		background: color-grey;
		padding: 0 18px;
		input{
			background: transparent;
			margin: 0;
			padding: 18px;
			.md-errors-spacer{
				display: none;
			}
		}
	}

	.highlighted{
		font-weight: bold;
		color: black;
	}

	.log{
		md-list-item{
			padding: 10px 0;
			.time{
				color: color-primary;
				font-weight: bold;
			}
			p{
				margin: 0;
			}
		}
	}
}
