.template-error-not-found{
  #view-content{
    background: whitesmoke;
  }
  .message{
    box-shadow: 0px 2px 2px grey;
    text-align: center;
    margin: 30px 0;
    background: white;
    md-icon{
      margin: auto;
      width: 100px;
      height: 100px;
      margin-bottom: 30px;
    }
  }
}
