<%
  var sizes = services_config('media').sizes;
%>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th>width</th>
      <th>height</th>
      <th>cropped</th>
    </tr>
  </thead>
  <tbody>
  <%for(var name in sizes){
    var size = sizes[name];
    %>
  <tr>
    <td><%-name%></td>
    <td><%-size.width%>px</td>
    <td><%-size.height%>px</td>
    <td><%-size.crop?'yes':'no'%></td>
  </tr>
  <%}%>
</tbody>
</table>
