memory-usage{

  padding: 8px;
  border-radius: 5px;
  cursor: pointer;

  .icon{
    color: color-primary;
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .usage{
    width: 74px;
    .progress{
      width: 100%;
      margin-bottom: 6px;
      background: white;

      .md-mode-determinate{
        border-radius: 2px;
        overflow: hidden;
        background: #eeeeee;
      }

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

}

md-menu-content.memory-content{
  .header{
    h3{
      margin-right: 6px;
    }
  }
  .unit{
    .title{
      margin-right: 6px;
    }
  }
}
