.ag-account-avatar{
  background-color: color-primary;
  background-position: center;
  background-size: cover;
  padding: 8px;
  border-radius: 100%;
  margin-right: 10px;
  width: 60px;
  height: 60px;
  &.md-button.md-fab{
    box-shadow: none;
  }
  md-icon{
    color: white;
    padding: 0;
  }
}
