.page-card{

  padding: 10px;

  .md-headline{
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  .container{
    background: rgba(245, 245, 245, 0.57);
    border: solid 1px #cecece;
  }

  .menu{
    md-icon{
      padding-right: 10px;
    }
    .option-item{
      min-width: 40px;
      padding: 0 10px;
      background: white;
    }
  }

  .header{
    border-bottom: solid 1px color-border;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
  .card-icon{
    margin-right: 10px;
    width: 70px;
    height: 70px;
    color: color-primary;
  }
}
