md-dialog.activity-form .fields .field {
  padding: 10px;
}
md-dialog.activity-form .fields .field:nth-child(even) {
  background: #d9dadb;
}
md-dialog.activity-form .fields .field .title {
  font-weight: bold;
}
md-dialog.activity-form .time {
  padding: 10px;
  text-align: center;
  border-bottom: solid 2px #2196f3;
}
md-dialog.activity-form .time .date {
  font-size: 1.2em;
}
md-dialog.activity-form .time .ago {
  font-weight: bold;
}
