.dialog-file .preview {
  margin-right: 10px;
  width: 300px;
  height: 300px;
  background: #eaeaea;
  border-radius: 6px;
  overflow: hidden;
}
.dialog-file .preview md-icon {
  width: 50%;
  height: 50%;
  color: #2196f3;
}
.dialog-file .summary .actions .md-button {
  text-align: left;
  margin: 5px;
  padding: 0;
}
.dialog-file .summary .actions .md-button md-icon {
  width: 30px;
}
.dialog-file .summary .actions md-list-item.md-no-proxy {
  padding: 0;
}
.dialog-file-select {
  height: 95%;
  width: 95%;
}
.dialog-file-select md-toolbar md-icon {
  width: 34px;
  height: 34px;
}
.dialog-file-select md-grid-tile {
  cursor: pointer;
}
