<div layout="column" layout-align="center center" ng-style="{'background-image': 'url(' + account.profile.picture + ')'}" class="ag-account-avatar">
  <md-icon ng-if="account.profile.avatar" md-svg-src="{{get_avatar(account.profile.avatar)}}"></md-icon>
</div>
