<div ng-show="account" class="account">

    <md-menu md-offset="0 70">

        <md-button class="md-icon-button picture" ng-click="$mdMenu.open()" ng-style="{'background-image': 'url(' + account.profile.picture + ')'}" aria-label="Account">
          <md-icon ng-if="account.profile.avatar" md-svg-src="{{get_avatar(account.profile.avatar)}}">
          </md-icon>
        </md-button>

        <md-menu-content>
            <md-list-item>
                {{account.profile.email}}
            </md-list-item>

            <%-template('ui/button',{
			title:lng('general.logout'),
			click: 'account.logout()'
		}
		)%>

        </md-menu-content>
    </md-menu>

</div>
