<div class="md-padding steps md-margin ui-form-steps" layout-align="space-between start" align="center" ng-controller="<%-page.formSteps.controller%>">
  <%for(var index in page.steps){
      var step = page.steps[index];
      var stepTemplate = path.join(page.formSteps.stepBase,step.name);

      var stepLocals = {
        number: Number(index) + 1,
        step:step,
        stepTemplate: stepTemplate
      };
    %>
  <%-template('ui/form-steps/step',stepLocals)%>
<%}%>
</div>
