<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <ul class="swiper-wrapper my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <!-- Slides -->
    <li class="swiper-slide" ng-repeat="item in <%-locals.gallery%>" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a title="{{item.title}}" ng-href="{{item.src.large}}" itemprop="contentUrl" data-size="300x300">
        <div style="background-image:url('{{item.src.thumbnail}}')" ng-src="{{item.src.thumbnail}}" itemprop="thumbnail" alt="{{item.title}}"></div>
      </a>
    </li>
  </ul>

  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev swiper-button-white"></div>
  <div class="swiper-button-next swiper-button-white"></div>
</div>
