<div class="ui-lock" <%-locals.hide?'role-hide':''%> has-role='<%-JSON.stringify(locals.authorization||"[]")%>'>
  <md-icon class="md-primary" md-svg-src="<%-get_icon('material/lock-outline')%>"></md-icon>
</div>
