<%
  var prop = locals.prop || locals.model || 'loading';
  var align= locals.align || 'center center';
  var diameter= locals.diameter || 50;
%>
<div class="api-loader" ng-show="<%-prop%>" layout="column" layout-align="<%-align%>">
<md-progress-circular md-mode="indeterminate" md-diameter="<%-diameter%>"></md-progress-circular>
</div>
