<%
  var prop = locals.prop || 'loading';
  var align= locals.align || 'center center';
%>
<div class="api-loader" ng-show="<%-prop%>" layout="column" layout-align="<%-align%>">
<md-progress-circular md-mode="indeterminate" md-diameter="50"></md-progress-circular>
</div>
