.menu-expand{

  &.lock{
    .md-sidemenu-toggle{
      border-bottom: solid 2px grey;
      pointer-events: none;
    }
    .md-sidemenu-wrapper{
      margin-top: 0 !important;
      opacity: 1;
    }
  }

  .md-sidemenu-wrapper{
    .md-button {
      padding: 16px;
    }
  }

  md-sidemenu-button{
    &.active{
      pointer-events: none;
      background: color-primary;
      color: white;
    }
  }
  .md-sidemenu-button{
    background: transparent !important;
  }

  .md-sidemenu-content{
    border: solid 1px #d7d7d7;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .md-sidemenu-toggle{

    font-size: 1.2em;
    background: white;

    &.md-active{
      border-bottom: solid 2px grey;
    }
  }
}
