<%
var nav = locals.nav;

if(!nav){
  nav = [page];
  var home = site.pages.findOne({path:'/'});
  var item = page;

  while(item.parentPath && item.path!='/'){
    var parent = site.pages.findOne({path:item.parentPath});
    if(parent){
      nav.unshift(parent);
      item = parent;
    }else{
      item = {};
    }
  }
}
%>
<div class="ui-nav md-padding" layout="row" layout-wrap layout-align="left center">
<%
for(var i in nav){
  var pageItem;
  var item = nav[i];
  if(_.isString(item)){
    pageItem = get_page(item);
    if(pageItem){
      item = {
        title: pageItem.title,
        path: pageItem.path
      }
    }else{
      item = {
        title: item
      };
    }
  }
  if(item.page){
    pageItem = get_page(item.page);
    if(pageItem){
      item.title = pageItem.title;
      item.path = pageItem.path;
    }
  }
  var attr = null;
  if(i==nav.length-1){
    attr = 'class="self"';
  }
  if(!item.path){
    item.path = '#';
  }
  if(i!=0){
    %>
    <md-icon md-svg-src="<%-get_icon('material/keyboard-arrow-right')%>"></md-icon>
    <%}%>
    <a <%-attr%> ng-href="<%-get_path(item.pathSource||item)%>"><%-lng(item.title)%></a>
    <%}%>
    <span flex>
    </span>
  </div>
