<div layout="row" layout-align="center center" ng-controller="PaginatorCtrl">
  <md-button>Previous</md-button>
  <a ng-click="selectPage(page)" ng-repeat="page in pages">{{page.number}}</a>
  <md-button>Next</md-button>
</div>
