  .ui-tabs{
    box-shadow: 0 2px 4px grey;
    z-index: 2;
    .item{
      &.active{
        color: #116377;
        border-radius: 0;
        font-weight: bold;
        border-bottom: solid 4px
      }
    }
  }
