.ui-tabs{
  z-index: 2;
  .item{

    border-bottom: solid 2px;
    border-color: transparent;
    transition: border-color 400ms ease;
    padding: 6px;
    margin: 6px;

    &.active{
      color: #116377;
      border-radius: 0;
      font-weight: bold;
      border-color: color-primary;
    }
  }
}
