<div ng-if="<%-name%>" layout="column">
  <div class="ag-list-item" ng-repeat="item in <%-name%>" ng-click="<%-click%>(item)" ng-class="pageActive(item.id)">
    <%-template('edit/content/display')%>
  </div>
</div>
