.template-system-clusters {
  .view-container {
    background: whitesmoke;
  }

  .tab-content {
    padding: 16px;
  }

  .ui-tabs {
    >.header {
      background: white;
      padding: 9px 4px;
    }
  }

  .details {
    background: whitesmoke;

    .box {
      margin: 10px;
      background: white;
      position: relative;
      overflow: hidden;
      border-radius: 2px;

      >.header {
        padding: 10px;
        background: white;
        z-index: 12;

        .title {
          color: color-primary;
          font-size: 1.4em;
        }
      }

      >.content {
        padding: 14px;
      }

      @import './repository/index.module';
      @import './logs/index.module';
    }
  }

  .servers {
    .server {
      border-bottom: solid 1px grey;
      padding: 14px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background: #e3e3e3;
      }

      .title {
        font-weight: bold;
      }
    }
  }
}
