<div class="servers"
  layout="column">
  <div class="server"
    layout="column"
    ng-repeat="server in servers">
    <p class="title">{{server.name}}</p>
    <p>instances: {{server.processes.length}}</p>
  </div>
</div>