<div class="<%-data.name%>" layout="column">
  <div class="ag-margin" layout="column">
    <table ng-repeat="(key, item) in <%-data.model%>">
      <%for(var item of data.list){%>
        <tr>
        <td class="label"><%-lng(item.label)%>:</td>
        <td class="value">{{<%-item.value%>}}</td>
        </tr>
        <%}%>
      </table>
  </div>
  </div>
