<div layout="row">

<div flex="50" class="methods" layout="column">
  <div
  class="ag-list-item"
  ng-click="method.select(item)"
  ng-class="{active:method.selected == item}"
  ng-repeat="item in method.list">
    {{item.path}}
  </div>
</div>

<div flex="50" class="method ag-margin" layout="column">
  <%-template('system/api/data',{data:page.data.method})%>
  <%-template('system/api/list',{data:page.data.accepts})%>
</div>

</div>
