<%
var href;
get_values(data);
if(data.media){
  if(data.media.private){
    href = prv_media(data.media.location);
  }else{
    href = get_media(data.media.location);
  }
}
if(data.url){
  href = data.url
}

var attr = '';
if(data.new_tab){
  attr += 'target="_blank"';
}else{
  attr += 'target="_self"';
}
%>
    <a class="attachment" ng-href="<%-href%>" layout="row" layout-align="start center" <%-attr%>>
        <%if(data.show_icon){%>
            <md-icon md-svg-src="<%-get_media(data.media.icon)%>"></md-icon>
            <%}%>
                <span flex="auto"><%-lng(data.title)%></span>
    </a>
