<%-template('ui/loader',{prop:'logs.loading'})%>
  <md-virtual-repeat-container class="entries"
    layout="column">
    <div class="entry"
      md-virtual-repeat="entry in logs.output.entries">
      <div class="header"
        layout="row"
        layout-align="start center">
        <span>{{entry.date | amUtc | amLocal | amDateFormat:'DD MMMM YYYY HH:mm:ss'}}</span>
        <span flex="auto"></span>
        <span am-time-ago="entry.date | amUtc | amLocal"></span>
      </div>
      <div class="lines">
        <p class="line"
          ng-repeat="line in entry.lines track by $index">{{line}}</p>
      </div>
    </div>
  </md-virtual-repeat-container>