<%if(config.footer){%>
<span flex></span>
<div id="footer" layout="row" class="footer" layout-align="center center">
  <div layout="column">
    <div layout="row" class="links">

      <%
      if(config.footer.groups){
        for(var group of config.footer.groups){
          %>

          <div layout="column" layout-margin >
            <h4 class="ui inverted header"><%-lng(group.title)%></h4>
            <div class="ui inverted link list">
              <%for(var row of group.list){%>
              <a href="#" class="item"><%-lng(row.title)%></a>
              <%}%>
            </div>
          </div>

          <%
        }
      }
      %>

    </div>

    <%
    var logoPath = "images/logo-white.png";
    if(has_file(logoPath)){%>
    <img layout="row" src="<%-get_asset(logoPath)%>" class="mini image">
    <%}%>
    <%if(config.footer.bottom){%>
    <div class="bottom" layout="row">
      <%for(var row of config.footer.bottom){%>
      <a class="item" href="#"><%-lng(row.title)%></a>
      <%}%>
    </div>
    <%}%>
  </div>
</div>
<%}%>
