<md-menu-toolbar md-whiteframe="4" class="site-content-toolbar">
	<div class="md-toolbar-tools" ng-cloak>

	<%-template('layout/toolbar/menu')%>

	<%if(config.languages_toolbar){%>
		<%-template('layout/languages')%>
		<%}%>

		<%-template('ui/search')%>

		<span class="flex"></span>

		<div ng-include="viewData.toolbar">
		</div>

		<%-template('layout/toolbar/account')%>

	</div>
</md-menu-toolbar>
