<div id="wrap" flex="100" class='wrap layout-column' data-auto-scroll ng-class="{xs:$mdMedia('xs'), sm:$mdMedia('sm')}">
    <ng-view class="reveal-animation"></ng-view>
    <div id="tools" layout="column">
        <%-template('ui/scroll-top')%>
        <%-template('ui/contact')%>
    </div>
</div>
