<div layout="row" layout-align="start center">
    <md-icon class="icon md-padding" md-svg-src="<%-get_icon(page.icon)%>"></md-icon>
    <div flex="100">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline"><%-lng(page.title)%></span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                <%-lng(page.description)%>
            </p>
        </md-card-content>
    </div>
</div>
