.page-editor{

	@import('./content/sortable')
	@import('./content/field')
	@import('./content/sidebar')
	@import('./content/data')
	@import('./content/heading')
	@import('./content/quill')
	@import('./content/code')
	@import('./content/contributor')
	@import('./content/push-changes')

	.top-bar{
		.settings{
			.md-icon-button{
				height: 100%;
			}
		}
		md-select{
			margin: 0;
		}
	}

	.page-main{

		opacity: 0;
		transition: opacity 400ms;
		background: rgb(236, 236, 236);

		&.active{
			opacity: 1;
		}

		>.path{
			text-align: center;
			color: grey;
			margin: 0;
		}
	}

	.template-select{
		text-align: center;

		md-icon{
			width: 160px;
			height: 160px;
			margin-bottom: 16px;
			color: alpha(color-primary,0.4);
		}
	}

	.md-button.property{
		text-transform: capitalize;
		background: color-grey;
		box-shadow: 0px 1px 2px grey;
	}

}
