<div class="md-padding" layout="column">
  <div layout="row" layout-xs="column">
      <%-template('ui/page-card',{data:get_page('edit/pages')})%>
      <%-template('ui/page-card',{data:get_page('edit/media')})%>
   </div>
 </div>
