.template-authorization{

  .auth-box{

    background: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin: 0 80px

    .message{
      font-size: 1.5em;
      color: color-primary;
    }

    .lock{
      width: 100px;
      height: 100px;
      margin: 24px auto;
    }

    .login{
      background: color-primary;
      color: #fff;
      font-size: 1.1em;
      width: 120px;
      margin: 0 auto;
      margin-top: 30px;
      padding: 10px 28px;
    }

  }

}
