<%
var parent;
var siblings;
  if(page.parentPath){
  parent = get_page(page.parentPath);
  siblings = site.pages.find({
    parentPath: page.parentPath
  });
  }

  var children = site.pages.find({
    parentPath: page.pathSource
  });
%>
<div class="sidebar-default">
  <%if(children.count()){%>
    <%children.forEach(function(item){
      %>
      <%-template('sidebar/item',{item:item})%>
    <%})%>
    <%if(parent){%>
    <p class="heading md-padding">
      <%-lng(parent.title)%>
    </p>
    <%}%>
  <%}%>
  <%
  if(siblings){
    siblings.forEach(function(item){
      %>
    <%-template('sidebar/item',{item:item})%>
  <%})}%>
</div>
