<md-list ng-hide="email.list">
  <md-list-item
  ng-repeat="item in accounts.list"
  ng-click="accounts.open(item)"
  >
    {{item.email}}
  </md-list-item>
</md-list>

<div
ng-show="email.list"
layout="column"
class="ag-margin list-email"
>
<div class="header" layout="row" layout-align="start center">
  <span>{{accounts.selected.email}}</span>
  <span flex="auto"></span>
  <md-button class="md-icon-button" ng-click="accounts.close()">
    <md-icon md-svg-src=<%-get_icon( "material/close")%> aria-label="Cancel"></md-icon>
  </md-button>
</div>
<div class="ag-margin" layout="column">
  <div
  class="ag-list-item"
  ng-repeat="item in email.list"
  ng-click="email.open(item)"
  ng-class="{active:item==email.selected}"
  >
  <div class="item" layout="column">
    <div
    layout="row"
    layout-align="start center"
    class="title ag-margin"
    ng-init="from=item.from[0]"
    >
    <span class="name" ng-if="from.name">
      {{from.name}}
    </span>
    <span flex="auto" class="address">
      {{from.address}}
    </span>
  </div>
  <span class="subject">{{item.subject}}</span>
</div>
</div>
</div>
</div>
