.template-email-inbox {
  .box {
    padding: 10px;
    background: white;
  }

  .view-container {
    background: whitesmoke;
  }

  .address {
    .name {
      font-weight: bold;
      margin-right: 4px;
    }

    .item {
      margin: 4px;
      background: whitesmoke;
      padding: 3px 6px;
      font-size: 0.8em;
    }
  }

  .email-content {
    a {
      color: #0088b5;
      text-decoration: underline;
    }
  }

  .list-email {
    .header {
      padding: 10px;
      background: whitesmoke;
      border-bottom: solid 2px color-primary;
    }

    .ag-list-item {
      padding: 10px;

      md-icon {
        width: 16px;
        height: 16px;
        color: white;
        background: #b3b3b3;
        border-radius: 100%;
        padding: 3px;

        &.read {
          background: #0ec138;
        }

        &.unread {
          background: #ff6300;
        }
      }
    }

    .item {
      width: 100%;

      .title {
        font-weight: bold;
      }

      .name {
        font-size: 0.8em;
      }

      .address {
        text-align: right;
      }

      span {
        font-size: 0.7em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        position: relative;
      }
    }
  }
}