.template-email-inbox {
  .box {
    padding: 10px;
    background: white;
  }

  .view-container {
    background: whitesmoke;
  }

  .address {
    .name {
      font-weight: bold;
      margin-right: 4px;
    }

    .item {
      margin: 4px;
      background: whitesmoke;
      padding: 3px 6px;
      font-size: 0.8em;
    }
  }

  .email-content {
    a {
      color: #0088b5;
      text-decoration: underline;
    }
  }

  .md-sidenav-left {
    md-content {
      background: #ececec;
    }
  }

  iframe {
    width: 100%;
    height: 800px;
  }

  .list-email {
    .md-subheader .md-subheader-inner {
      padding: 0;
    }

    .header {
      padding: 10px;
      background: whitesmoke;
      box-shadow: 0 2px 2px grey;
    }

    .items {
      margin: 0;
      padding: 0;
    }

    .ag-list-item {
      padding: 10px;
      border-bottom: solid 1px #cacaca;

      &.unread {
        background: white;
        border-right: solid 3px #008aff;
      }

      &.active {
        background: grey !important;

        .date {
          color: white;
        }
      }
    }

    .item {
      width: 100%;

      .title {
        margin-bottom: 5px;
      }

      .name {
        font-weight: bold;
      }

      .date {
        color: grey;
      }

      span {
        font-size: 0.7em;
      }
    }
  }
}