<md-list ng-hide="email.list">
  <md-list-item ng-repeat="item in accounts.list"
    ng-click="accounts.open(item)">
    {{item.email}}
  </md-list-item>
</md-list>

<section ng-show="email.list"
  layout="column"
  class="ag-margin list-email">
  <md-subheader>
    <div class="header"
      layout="row"
      layout-align="start center">
      <span>{{accounts.selected.email}}</span>
      <span flex="auto"></span>
      <md-button class="md-icon-button"
        ng-click="accounts.close()">
        <md-icon md-svg-src=<%-get_icon(
          "material/close")%> aria-label="Cancel"></md-icon>
      </md-button>
    </div>
  </md-subheader>
  <md-list class="items"
    layout="column">
    <div class="ag-list-item ag-margin"
      ng-repeat="item in email.list"
      ng-click="email.open(item)"
      ng-class="{active:item==email.selected,unread:!item.read}"
      layout="row">

      <div flex="auto"
        class="item"
        layout="column">
        <div layout="row"
          layout-align="start center"
          class="title ag-margin"
          ng-init="from=item.from[0]">
          <span flex="auto"
            class="name">
            {{from.name||from.address}}
          </span>
          <span class="date">
            {{item.date | amDateFormat:'L'}}
          </span>
        </div>
        <span class="subject">{{item.subject}}</span>
      </div>

    </div>
  </md-list>
</section>