<div flex="100" class="frame ag-margin md-padding" layout="column">
  <div ng-hide="accounts.selected" flex="100" layout="column" layout-align="center center">
    <p>Select an email account</p>
  </div>
  <div ng-show="accounts.selected && !email.selected" flex="100" layout="column" layout-align="center center">
    <p>Select an email</p>
  </div>
  <div class="ag-margin" layout="column" ng-show="email.selected&&accounts.selected">
    <div layout="row" layout-align="start center">
      <span>{{email.data.date | amDateFormat:'LLLL'}}</span>
      <span flex="auto"></span>
      <span am-time-ago="email.data.date | amUtc | amLocal"></span>
    </div>
    <div class="box ag-margin" layout="column">
      <%-template('./address',page.address.from)%>
        <%-template('./address',page.address.to)%>
          <%-template('./address',page.address.cc)%>
    </div>
    <div class="box email-content">
      <div ng-bind-html="email.data.html">
      </div>
      <div ng-if="!email.data.html">
        <p>
          There are no message in this email
        </p>
      </div>
    </div>
  </div>
</div>