<div class="frame ag-margin md-padding" layout="column">
  <div class="box ag-margin" layout="column">
    <%-template('./address',page.address.from)%>
    <%-template('./address',page.address.to)%>
    <%-template('./address',page.address.cc)%>
  </div>
  <div class="box" ng-bind-html="email.data.html">
  </div>
</div>
