.template-email-inbox{
  .box{
    padding: 10px;
    background: white;
  }
  .view-container{
    background: whitesmoke;
  }
  .address{
    .name{
      font-weight: bold;
      margin-right: 4px;
    }
    .item{
      background: whitesmoke;
      padding: 3px 6px;
      font-size: 0.8em;
    }
  }
  .list-email{
    .header{
      padding: 10px;
      background: whitesmoke;
      border-bottom: solid 2px color-primary;
    }
    .ag-list-item{
      padding: 10px;
    }
    .item{
      width: 100%;
      margin: 0;
      .title{
        font-weight: bold;
      }
      .name{
        font-size: 0.8em;
      }
      .address{
        text-align: right;
      }
      span{
        font-size: 0.7em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        position: relative;
      }
    }
  }
}
