<tr>
  <td align="center">
    <table cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td align="center" class="body-copy">
          <%-lng(send_check.message)%>
        </td>
      </tr>
      <tr>
        <td align="center" bgcolor="#32A9D6" class="button">
          <a href="#" target="_blank">
            <%-lng(send_check.action)%>
          </a>
        </td>
      </tr>
      <tr>
        <td height="50" class="spacer">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>
