<table class="data fields">
  <tbody>
    <%for(var name in fields){var field = fields[name]%>
      <tr>
      <td class="title"><%-lng(field.title)||name%></td>
      <td class="value"><%-field.value%></td>
      </tr>
      <% } %>
    </tbody>
  </table>
