table.fields{
  border-collapse:collapse;
  td{
    vertical-align: top;
    border-bottom: solid 1px;
    padding: 10px 0;
  }
  tr:last-child{
    td{
      border-bottom: none;
    }
  }
  .title{
    max-width: 140px;
    word-wrap: break-word;
    font-weight: bold;
  }
  .value{
    padding-left: 10px;
  }
}
