table.fields{
  margin: 0 20px;
  color: grey;
  border-collapse:collapse;
  td{
    vertical-align: top;
    border-bottom: solid 1px;
    padding: 10px 0;
  }
  tr:last-child{
    td{
      border-bottom: none;
    }
  }
  .title{
    color: #505050;
    max-width: 140px;
    word-wrap: break-word;
    font-weight: bold;
    border-color: inherit;
  }
  .value{
    padding-left: 24px;
  }
}
