<mj-section padding="10px 0 20px 0">
  <mj-column>
    <mj-text align="center"
      color="#9B9B9B"
      font-size="11px">
      <a href="#"
        style="color: #9B9B9B;">Unsubscribe</a> from this newsletter
      <br>
      <%-locals.info.name%>
    </mj-text>
  </mj-column>
</mj-section>