<%if(locals.preheader){%>
  <%-template('_layout/preheader')%>
<%}%>
<tr>
  <td align="center" class="logo">
    <!--Add Logo-->
    <a href="##" target="_blank"><img src="<%-get_media(logo.src)%>" width="<%-logo.width%>" height="<%-logo.height%>" alt="Logo" border="0" /></a>
    <!--Add Logo-->
  </td>
</tr>
