.page-authorization{

  .auth-box{

    background: whitesmoke;
    padding: 20px;
    border-radius: 8px;

    .message{
      text-align: center;
      max-width: 260px;
      margin: 0 80px

      .title{
        font-size: 1.5em;
        color: color-primary;
      }
    }

    .lock{
      width: 100px;
      height: 100px;
      margin: 24px auto;
    }

    .login{
      .details{
        background: white;
        min-width: 320px;
      }
    }

  }

}
