<%
if(page.barebones && (!page.isView||page.isPartial)){
	%>
  <%-template(page.template)%>
    <%}else if(page.isView){%>
      <div id="view-content" layout="row" flex="100">

        <%-template('layout/menu/side')%>
          <div layout="column" flex="100">
            <%-template(page.template)%>
              <%if(!page.hiddenFooter){%>
                <%- template('layout/footer',null,true) %>
                  <%}%>
          </div>
      </div>
<%}%>
