<%
if(page.barebones){
	%>
    <%-template(page.template)%>
<%}else{%>
    <div id="view-content" layout="column">
        <%-template(page.template)%>
				<%if(!page.fullscreen){%>
					<%- template('layout/footer',null,true) %>
					<%}%>
    </div>
<%}%>
