
.page-login{

	#wrap{
		background-image: url(asset('images/backgrounds/green-field.jpg'));
		background-size: cover;
		background-position: center;
	}

	ng-view{
		background: transparent;
	}

	.login{
		max-width: 450px;
	}

	.details{
		width: 400px;
		max-width: 100%;
		margin: 30px auto;
		background: white;
		border-radius: 8px;
		position: relative;
		overflow: hidden;
	}

}
