
.page-register {
    >.wrap {
        >.view-cont {
          background-image: url(asset('images/backgrounds/family-house.jpg'));
            background-size: cover;
            background-position: center;
            .content-header {
                border-bottom: none;
                background: rgba(250, 250, 250, 0.71);
            }
        }
    }
    .intro {
        color: white;
        text-shadow: 0 1px 10px black;
        text-align: left;
        padding: 20px;
        font-size: 20px;
    }
    .form {
        padding: 20px;
        >md-content {
            border-radius: 8px;
        }
    }
}
