@import "style/footer"
@import "style/toolbar"
@import "style/wrap"
@import "style/tooltip"
@import "style/input"
@import "style/menu"
@import "style/dialog"
@import "style/button"
@import "style/view"
@import "style/search"
@import "style/responsive"
@import "style/cookies-bar"
@import "style/grid"
@import "style/date"
@import "style/tools"
@import "style/form"
@import "style/sidebar"
@import "style/account"
@import "style/video"
@import "style/page-loader"
@import "style/loader-top"
@import "style/compatibility"
@import "style/notifications"
@import "ui/tabs"

if site('portal'){
  @import "style/portal"
}

if config('contact'){
  @import "style/contact"
}

if config('scrollTop'){
  @import "style/top-scroll"
}

html{
  overflow-x: hidden;
  overflow-y: auto !important;
  background: white;
}

body{
  overflow: hidden;
  color: color-text;
  background: transparent;
}

a{
  text-decoration: none;
}

h1,h2,h3,h4,h5,p{
  margin: 5px 0;
}

md-content{
  background: initial;
}

.pswp{
  display: none;
}

.ag-margin{
  &.layout-row{
    >*{
      margin: 0;
      margin-left: 16px;

      &:first-child{
        margin-left: 0;
      }
    }
  }
  &.layout-column{
    >*{
      margin: 0;
      margin-top: 16px;

      &:first-child{
        margin-top: 0;
      }
    }
  }
}

md-checkbox:last-of-type{
  margin-left: inherit;
}

md-pagination-wrapper{
  width: initial !important;
}

.layout-column{
  max-height: initial !important;
}

.bullet{
  list-style-type:disc;
}

.relative{
  position: relative;
}

md-menu md-menu-content{
  display: none;
}

a{
  text-decoration: initial;
  color: initial;
}

md-list-item .md-list-item-inner>md-icon:first-child:not(.md-avatar-icon), md-list-item>md-icon:first-child:not(.md-avatar-icon){
  margin: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body.sidebar-open{
  overflow: hidden;
}

.hidden{
  display: none;
}
.show{
  display: initial;
}

.api-loader {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 0;
  left: 0;
  z-index: 25;
  height: 100%;
  background: rgba(255, 255, 255, 0.87);
}
