
body{
  background: color-grey-primary;
  text-align: center;
}

a{
    text-decoration: none !important;
    color: initial !important;
}

img{
  border: none;
}

.logo{
  margin: 20px 5px;
}

.hidden{
  display: none;
}

.button{
  background: color-primary;
  color: white !important;
  border-radius: 40px;
  margin: 10px;
  padding: 6px 20px;
}

.message{
  text-align: center;
  width: 800px;
  max-width: 100%;
  margin: auto;
  background: white;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 8px grey;
  box-sizing: border-box;
}

.suggest{
  margin-top: 40px;
  text-align: center;
  .suggestion{
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
    text-align: center;
    img{
      width: 100px;
      max-width: 90%;
      height: auto;
    }
  }
}
