<div class="list" ng-disabled="!page" layout="column">
  <div ng-show="page">
    <div layout="row" ng-show="work" layout-align="center center">
      <span flex="1">
            </span>
      <md-button ng-click="rollback()" class="md-primary">Rollback</md-button>
      <md-button ng-click="cancelRollback()" class="md-warn">Exit</md-button>
    </div>
    <md-divider ng-show="work">
    </md-divider>

    <md-list class="log">

      <div ng-repeat="entry in page.log">
        <md-list-item ng-click="showCommit(entry)" class="md-3-line">
          <div class="md-list-item-text">
            <h3 class="time" am-time-ago="entry.date||entry.timestamp"></h3>
            <h4 class="message">{{entry.message}}</h4>
            <p>{{entry.author_name||entry.id}}</p>
          </div>
        </md-list-item>
        <md-divider></md-divider>
      </div>

    </md-list>
  </div>
</div>
