&.git{
  .log{
    border-left: solid 4px color-primary;
    margin: 24px 0;
    .commit{
      &.current{
        font-weight: bold;
        .bullet{
          background: color-primary;
        }
      }
      &:first-child{
        margin-top: 0;
        >*{
          margin-top: 0;
        }
      }
      &:last-child{
        margin-bottom: 0;
        >*{
          margin-bottom: 0;
        }
      }
      position: relative;
      .bullet{
        left: -30px;
        top: 0;
        position: absolute;
        width: 24px;
        height: 24px;
        background: white;
        border: solid 3px color-primary;
        border-radius: 100%;
      }
    }
    .rest{
      color: color-primary;
      padding: 0px 14px;
      font-size: 2em;
    }
  }
  .warn{
    background: color-red;
    color: white;
    border-radius: 4px;
    .message{
      padding: 10px;
      line-height: 1.6em;
    }
  }
}
