.page-system-server{

  .details{
    background: whitesmoke;
    .box{
      margin: 10px;
      background: white;
      position: relative;
      overflow: hidden;
      border-radius: 2px;

      >.header{
        padding: 10px;
        background: white;
        z-index: 12;
        .title{
          color: color-primary;
          font-size: 1.4em;
        }
      }

      >.content{
        padding: 14px;
      }

      @import './git'
      @import './logs'

    }
  }

  .servers{
    border-bottom: solid 3px color-primary;
    margin-bottom: 10px;
    padding: 10px;
    .server{
      background: whitesmoke;
      border-radius: 2px;
      padding: 14px;
      margin-right: 10px;
      cursor: pointer;
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        background: #e3e3e3;
      }
      .title{
        font-weight: bold;
      }
    }
  }

}
