&.logs{
  .entries{
    max-height: 400px !important;
    overflow: auto;
    .entry{
      border-left: solid 3px color-primary;
      margin: 10px 0;
      padding: 0 10px;
      .header{
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 20px;
      }

      .line{
        border-bottom: solid 1px #c2c2c2;
        padding: 5px 0;
      }
    }
  }
}
