<div layout="column" class="box logs">
  <p class="title">
    <b>Logs</b>
  </p>

  <div class="entries" layout="column">
    <div class="entry" ng-repeat="entry in logs.output.entries">
      <p class="date">{{entry.date}}</p>
      <div class="lines">
      <p class="line" ng-repeat="line in entry.lines">{{line}}</p>
      </div>
    </div>
  </div>

</div>
