.auth{

  .no-keys{
    max-width: 400px;
    margin: 20px auto;
    text-align: center;

    md-icon{
      width: 60px;
      height: 60px;
      margin: 10px;
      color: color-primary;
    }

    .title{
      font-size: 1.3em;
    }

    .message{
      line-height: 1.5em;
    }
  }

  .content{
    background: whitesmoke;

    .list{
      >div{
        margin: 0;
        padding: 4px 16px;
        border-bottom: solid 1px grey;
        line-height: 1.5em;
        text-align:left;
        &:last-child{
          border-bottom: none;
        }
      }
    }
  }

}
