.fields{
  .field{
    md-icon{
      margin-right: 6px;
    }
    label{
      margin-right: 6px;
      min-width: 100px;
    }
    input{
      box-shadow: inset 0px 1px 5px grey;
      padding: 8px;
      border-radius: 4px;
    }
  }
}
