.page-manager-accounts{

  @import './roles.module'
  @import './auth.module'
  @import './list.module'
  @import './summary.module'
  @import './activities.module'

  .view-container{
    background: #dcdcdc;
  }

  .account-view{
    >.content{
      background: white;
      box-shadow: 0 2px 8px grey;
    }
    .expander{
      &.expanded{
        md-icon{
          transform: scaleY(-1);
        }
      }
    }
  }

  .site-menu{
    width: 480px;
    .ag-account-avatar{
      width: 50px;
      height: 50px;
    }
    .search-list{

      margin: 0;
      padding: 10px 14px;
      box-shadow: 0 0px 6px grey;
      z-index: 4;

      md-icon{
        width: 30px;
        height: 30px;
        padding: 0;
      }

      input{
        padding: 10px 0;
      }
    }
  }

  .boxes{
    padding: 5px;

    md-whiteframe{
      margin: 5px;
    }

    .section{
      .header{
        .title{
          font-size: 22px;
          color: color-primary;
          font-weight: normal;
        }
      }
      >.content{
        position: relative;
      }
    }
  }

  .action-warn{
    padding: 4px 10px;
    background: color-red;
    color: white;
  }
}
