.page-manager-accounts{

  @import '../../ui/live-toggle'
  @import './roles'
  @import './auth'
  @import './list'
  @import './summary'
  @import './activities'

  .view-container{
    background: #dcdcdc;
  }

  .account-view{
    >div{
      background: white;
      box-shadow: 0 2px 8px grey;
    }
  }

  .site-menu{
    width: 480px;

    .search-list{

      margin: 0;
      padding: 10px 14px;
      box-shadow: 0 0px 6px grey;
      z-index: 4;

      md-icon{
        width: 30px;
        height: 30px;
        padding: 0;
      }

      input{
        padding: 10px 0;
      }
    }
  }

  .boxes{
    padding: 5px;

    md-whiteframe{
      margin: 5px;
    }

    .section{
      .header{
        .title{
          font-size: 22px;
          color: color-primary;
          font-weight: normal;
        }
      }
      >.content{
        position: relative;
      }
    }
  }

  .action-warn{
    padding: 4px 10px;
    background: color-red;
    color: white;
  }
}
