md-content.accounts{
  background: #f1f1f1;
  overflow-x: hidden;
  height: 2000px;
  .account{
    margin: 0;

    &:nth-child(2n){
      background: #f9f9f9;
    }

    .md-avatar{
      background-color: color-primary;
      md-icon{
        color: white;
        padding: 0;
      }
    }
  }
}
