<div class=" summary layout-padding" layout="column">
  <div layout="row" class="md-padding">
    <div layout="row" layout-align="center center">

        <%-template('ui/account-avatar',{model:'viewAccount',click:'overview.changePicture()'})%>

        <div flex class="headline">
            <p class="md-headline">{{viewAccount.name}}</p>
            <p class="subhead">{{viewAccount.email}}</p>
        </div>
    </div>
    <span flex></span>
    <span>ID: {{viewAccount.id}}</span>
  </div>

    <div layout="column" class="details">

        <div layout="row" layout-align="start center">
            <span ng-if="viewAccount.emailVerified">Email verified</span>
            <span ng-if="!viewAccount.emailVerified" class="message red">Email not verified</span>
            <span flex="auto"></span>
            <md-button ng-click="overview.resendVerification()" class="md-raised" ng-if="!viewAccount.emailVerified">Send Verification</md-button>
        </div>

        <md-divider></md-divider>

        <div ng-if="viewAccount.veriSentAt">
        <p class="subhead">Verification Sent
            <span am-time-ago="viewAccount.veriSentAt"></span>
        </p>
        <p>{{viewAccount.veriSentAt | amUtc | amLocal | amDateFormat:'DD MMMM YYYY HH:mm:ss'}}</p>
        </div>

        <md-divider></md-divider>
        <p class="subhead">Registered
            <span am-time-ago="viewAccount.createdAt"></span>
        </p>
        <p>{{viewAccount.createdAt | amUtc | amLocal | amDateFormat:'DD MMMM YYYY HH:mm:ss'}}</p>
        <md-divider></md-divider>
        <p class="subhead">Updated
            <span am-time-ago="viewAccount.updatedAt"></span>
        </p>
        <p>{{viewAccount.updatedAt | amUtc | amLocal | amDateFormat:'DD MMMM YYYY HH:mm:ss'}}</p>
        <md-divider></md-divider>

    </div>

</div>
