<md-whiteframe class="md-whiteframe-1dp roles section" layout="column">
        <div class="header md-padding" layout-align="left center" layout="row">
            <h3 class="title">Roles</h3>
            <span flex></span>
            <md-button ng-click="addRole()" class="md-fab md-mini md-white" aria-label="Add">
                <md-icon md-svg-icon="<%-get_icon('material/add')%>"></md-icon>
            </md-button>
        </div>
        <md-divider></md-divider>
    <md-list>
        <div ng-repeat="(key,value) in viewAccount.roles">
            <md-list-item class="role">
              <p>
              {{key}}
              </p>
              <md-icon ng-if="value.editable" ng-click="editRole(key)" aria-label="edit" class="md-secondary edit" md-svg-src="<%-get_icon('material/edit')%>"></md-icon>
              <md-icon ng-click="removeRole(key)" aria-label="delete" class="md-secondary delete" md-svg-src="<%-get_icon('material/delete')%>"></md-icon>
            </md-list-item>
            <md-divider></md-divider>
        </div>
    </md-list>
</md-whiteframe>
