.summary{
  .ag-account-picture{
    width: 120px;
    height: 120px;
    md-icon {
      color: white !important;
      width: 70px;
      height: 70px;
    }
  }

  .headline{
    padding-left: 10px;
    .md-headline{
      font-weight: bold;
    }
  }

  .field{
    md-icon{
      margin-right: 6px;
    }
    label{
      margin-right: 6px;
          min-width: 100px;
    }
    input{
        box-shadow: inset 0px 1px 5px grey;
    padding: 8px;
    border-radius: 4px;
  }
  }

  .message{
    &.red{
      color: red;
    }
  }

  .details{
    font-size: 13px;

    .subhead{
      font-size: 14px;
      font-weight: bold;
    }
  }

  .actions{
    margin-top: 10px;
  }
}
