<div class="tokens section" layout="column">
    <md-list>
        <div ng-repeat="token in tokens.list">
            <md-list-item class="token" layout="row" layout-align="start center">
              {{token}}
            </md-list-item>
        </div>
    </md-list>
</div>
