<div class="tokens section" layout="column">
  <%-template('ui/loader',{prop:'tokens.loading'})%>

    <md-list>
        <div ng-repeat="token in tokens.list">
            <md-list-item class="token" layout="row" layout-align="start center">
              <div flex="auto" class="md-padding" layout="row" layout-align="start center">
                <span>{{token.created | amDateFormat:'LLLL'}}</span>
                <span flex="auto"></span>
                <span am-time-ago="token.created | amUtc | amLocal"></span>
                <md-button class="md-warn md-icon-button" ng-click="tokens.delete(token)">
                  <md-icon md-svg-src=<%-get_icon( "material/delete")%> aria-label="Cancel"></md-icon>
                </md-button>
              </div>
            </md-list-item>
        </div>
    </md-list>
</div>
