<div layout="row" layout-align="start center">
  <div class="md-toolbar-tools">
    <%-template('ui/live-toggle')%>
    <span flex></span>
    <md-button ng-click="createAccount()" class="md-fab md-mini md-white" aria-label="Add">
      <md-icon md-svg-icon="<%-get_icon('material/add')%>"></md-icon>
    </md-button>
  </div>
</div>
