<md-dialog class="activities">

    <md-toolbar>

        <div class="md-toolbar-tools">
            <div layout="column">
                <h2>{{time | amDateFormat:'dddd DD MMMM'}}</h2>
            </div>
            <span flex></span>
            <p>{{fromNow}}</p>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon md-svg-src="<%-get_icon('material/close')%>" aria-label="Cancel"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content>

        <md-list>
            <div ng-repeat="activity in data.activities | orderBy:'-time'">
                <md-list-item ng-click="loadActivity(activity)" layout="row">

                    <div class="md-list-item-text" layout="column">
                        <div class="header">
                        <p class="title">
                            {{activity.title}}
                        </p>
                        <p class="subtitle">
                            {{activity.subtitle}}
                        </p>
                      </div>
                        <p class="path">
                            {{activity.path}}
                        </p>
                    </div>

                    <span flex="auto"></span>

                    <md-button aria-label="modal" class="md-icon-button" ng-if="activity.modal" ng-click="modal(activity)">
                      <md-icon md-svg-src="<%-get_icon('material/visibility')%>">
                      </md-icon>
                  </md-button>

                    <div class="md-list-item-text date" layout="column">
                        <p am-time-ago="activity.time | amUtc | amLocal"></p>
                        <p>{{activity.time | amUtc | amLocal | amDateFormat:'HH:mm:ss'}}</p>
                    </div>

                </md-list-item>
                <md-divider>
                </md-divider>
            </div>
        </md-list>

        <%-template('ui/loader')%>

    </md-content>

    <md-dialog-actions layout="row" md-whiteframe="2">
        <span flex> </span>
        <md-button ng-click="close()">
            <%-lng('general.close')%>
        </md-button>
    </md-dialog-actions>

</md-dialog>
