md-dialog.activity-form{
  .fields{
    .field{
      padding: 10px;
      &:nth-child(even){
        background: color-border;
      }
      .title{
        font-weight: bold;
      }
    }
  }

      .time{
        .date{
            font-size: 1.2em;
        }
        .ago{
            font-weight: bold;
        }
        padding: 10px;
        text-align: center;
        border-bottom: solid 2px color-primary;
      }
}
