<md-dialog class="activity-form">

    <md-toolbar>

        <div class="md-toolbar-tools">
            <div layout="column">
                <h2>{{activity.title}}</h2>
            </div>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon md-svg-src="<%-get_icon('material/close')%>" aria-label="Cancel"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content>

        <div class="time">
          <p class="date"> {{activity.createdAt | amUtc | amLocal | amDateFormat:'DD MMMM YYYY HH:mm:ss'}}</p>
          <p class="ago" am-time-ago="activity.createdAt"></p>
          </div>

          <div layout="column" class="fields">
            <div ng-repeat="field in activity.data.fields" layout="row" class="field">
              <span class="title" flex="30">{{field.title}}</span>
              <span class="value" flex="70">{{field.value}}</span>
            </div>
          </div>

        <%-template('ui/loader')%>

    </md-content>

</md-dialog>
