.dialog-file{

  width: 600px;
  
  .md-toolbar-tools{
    .title{
      text-transform: capitalize;
    }
  }

  .preview{
    margin-right: 10px;

    .container{
      width: 300px;
      height: 300px;
      background: rgb(234, 234, 234);
      border-radius: 6px;
      overflow: hidden;
      padding: 10px;
    }

    md-icon{
      width: 50%;
      height: 50%;
      color: color-primary;
    }
  }
  .summary{
    .actions{
      .md-button{
        text-align: left;
        margin: 5px;
        padding: 0;
        md-icon{
          width: 30px;
        }
      }
      md-list-item.md-no-proxy{
        padding: 0;
      }
    }
  }
}
.dialog-file-select{
  height: 95%;
  width: 95%;

  md-toolbar{
    md-icon{
      width: 34px;
      height: 34px;
    }
  }

  md-grid-tile{
    cursor: pointer;
  }
}
