<md-dialog class="history">

    <md-toolbar>

        <div class="md-toolbar-tools">
            <div layout="column">
                <h2>{{title}}</h2>
                <p>{{fromNow}}</p>
            </div>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon md-svg-src="<%-get_icon('material/close')%>" aria-label="Cancel"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content>

        <md-tabs class="md-primary" md-dynamic-height md-border-bottom>

            <md-tab label="Info">
                <md-content class="md-padding">
                         test
                </md-content>
            </md-tab>


        </md-tabs>


    </md-content>

    <md-dialog-actions layout="row" md-whiteframe="2">
        <span flex> </span>
        <md-button ng-click="close()">
            <%-lng('general.close')%>
        </md-button>
    </md-dialog-actions>

</md-dialog>
