<div class="roles section ssh" layout="column">

  <div class="header md-padding" layout-align="left center" layout="row">
    <h3 class="title">IP addresses</h3>
    <span flex></span>
    <md-button ng-click="ip.add()" class="md-fab md-mini md-white" aria-label="Add">
      <md-icon md-svg-icon="<%-get_icon('material/add')%>"></md-icon>
    </md-button>
  </div>

  <md-divider></md-divider>

  <div class="content">

    <%-template('ui/loader',{prop:'ip.loading'})%>

    <div ng-if="!ip.keys.length" class="no-keys" layout="column" layout-align="center center">
      <md-icon md-svg-src="<%-get_icon('material/public')%>"></md-icon>
      <p class="title">No IP Addresses whitelisted</p>
      <p class="message">You can allow access to this user on specific IP addresses.</p>
    </div>

    <md-list ng-if="ip.keys.length">
      <div ng-repeat="key in ip.keys">
        <md-list-item ng-click="ip.open(key)" class="role">
          <p>
            {{key.title}}
          </p>
          <p>
            {{key.createdAt}}
          </p>
          <md-icon ng-click="ip.remove(key)" aria-label="delete" class="md-secondary delete" md-svg-src="<%-get_icon('material/delete')%>"></md-icon>
        </md-list-item>
        <md-divider></md-divider>
      </div>
    </md-list>

  </div>

</div>
