<div layout="column" layout-align="center center" layout-margin>
  <div class="message md-padding" layout="column" layout-margin>
    <md-icon class="md-primary" md-svg-src="<%-get_icon('material/info-outline')%>"></md-icon>
    <p id="error-title">
      Could not find what you were looking for...
    </p>
    <p id="error-info">
      You can use our menu above to navigate through our website.
    </p>
  </div>
</div>
