<script type="text/ng-template" id="media-item-menu.html">
  <div class="md-open-menu-container md-whiteframe-z2">
    <md-menu-content layout="column">
      <md-button ng-click="copyObject(object)">
        <md-icon md-svg-src="<%-get_icon('material/content-copy')%>"></md-icon>
        <span>Copy</span>
      </md-button>
      <md-button ng-click="moveObject(object)">
        <md-icon md-svg-src="<%-get_icon('material/exit-to-app')%>"></md-icon>
        <span>Move</span>
      </md-button>
    </md-menu-content>
  </div>
</script>
