.footer-wrapper {
	background-color: color-primary;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 10px;
		line-height: 16px;
		color: #ffffff;
    padding: 20px;
    border-radius: 6px;

		a, td{
			color: #ffffff;
		}

		.unsub {
      padding-top: 20px;
			font-size: 10px;
			line-height: 16px;
		}
		.unsub{
			text-decoration: none;
	}

}
