<%
var name = `contact_${locals.model}`;
%>
  <div class="field ag-margin"
    layout="row"
    layout-align="start center">
    <span class="title">
      <%-lng(locals.title)%>:</span>
    <div flex="auto">
      <md-chips ng-model="<%-locals.model%>"
        readonly="ctrl.readonly"
        name="<%-name%>"
        ng-required="true"
        md-removable="true"
        md-transform-chip="newContact($chip)"
        md-max-chips="100">
        <md-chip-template>
          <strong>{{$chip.name}}</strong>
          <em>{{$chip.address}}</em>
        </md-chip-template>
        <input ng-model="email"
          type="email"
          placeholder="Add a contact...">
      </md-chips>
      <div class="md-chips-messages"
        ng-messages="formCompose.<%-name%>.$error">
        <div ng-message="required">At least one contact is required</div>
      </div>
      </form>
    </div>
  </div>