md-dialog.ag-email-compose {
  position: relative;
  width: 1000px;

  >.content {
    padding: 8px;
  }

  .header {
    padding-bottom: 10px;
    padding-right: 10px;
  }

  .md-chips-messages {
    color: #d60707;
    padding-top: 10px;
    font-size: 0.8em;
  }

  .fields {
    .field {
      padding: 2px;
      border-radius: 3px;

      .title {
        padding-left: 10px;
        min-width: 80px;
      }
    }

    .box {
      background: whitesmoke;
      border-left: solid 2px #1394af;
    }

    input {
      border-radius: 3px;
      line-height: 2em;
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
    }

    ng-quill-editor {
      >div {
        border-left: solid 2px #1394af;
        background: whitesmoke;
      }
    }

    .ql-toolbar {
      border: none;
    }

    .ql-editor {
      min-height: 320px;
    }

    .ql-container {
      border: none;
    }
  }
}
