<div layout="column" class="ag-margin md-padding">

  <div class="fields ag-margin" layout="column">

    <%-template('dialog/email-compose/field',page.field.to)%>
    <%-template('dialog/email-compose/field',page.field.subject)%>

    <div class="field">
      <%-template('ui/text-editor',{
        model: 'message'
      })%>
    </div>

  </div>


  <div layout="row" layout-align="end center">
    <md-button ng-click="send()">
      Send
    </md-button>
  </div>

</div>

<%-template('ui/loader')%>
