.ui-link{
  color: color-primary;
  cursor: pointer;
  md-icon{
    color: color-primary;
    margin: 0;
    min-width: 16px;
    min-height: 16px;
    width: 16px;
    height: 16px;
    margin-left: 4px;
  }
}
