md-dialog.account-cert{
  .pfx{
    .attachment{
      background: #797979;
      color: white;
      padding: 10px;
      border-radius: 5px;
    }
    .filename{
      font-size: 1.2em;
      font-weight: bold;
      margin-right: 10px;
    }
  }
}
