<div class="error" ng-hide="files.length" layout="column" layout-margin layout-align="center">
    <md-icon class="md-warn" md-svg-src="<%-get_icon('material/error-outline')%>"></md-icon>
    <p>
        <%-lng(page.noChanges)%>
    </p>
</div>

<div ng-show="files.length">
    <p class="message">
        <%-lng(page.message)%>
    </p>

    <md-list class="status">
        <md-list-item class="file" ng-repeat="file in files" layout="row" layout-align="start center">
            <span>{{file.path}}</span>
            <span flex="auto"></span>
            <div layout="row" layout-align="start center">
                <div class="entry" ng-repeat="entry in file.status" ng-style="{background:entry.color}">
                    <md-tooltip md-direction="top">{{entry.title}}</md-tooltip>
                    <span>{{entry.code}}</span>
                </div>
            </div>
        </md-list-item>
    </md-list>

    <%-template('form',{form:page.form})%>
</div>
