<p>
    <%-lng(page.message)%>
</p>

<div class="md-layout" layout="column" layout-align="center center">
    <md-input-container>
        <label>Role</label>
        <md-select ng-model="role">
            <md-option ng-repeat="role in data.roles" ng-value="role.name">
                {{role.name}}
            </md-option>
        </md-select>
    </md-input-container>
</div>
