md-dialog.account-file {
  width: 500px;

  .container {
    position: relative;
  }

  .not-found {
    min-height: 300px;
    text-align: center;

    .md-button {
      background: #dedede;
      padding: 10px 20px;
      margin-top: 20px;
    }
  }

  .selection {
    .message {
      color: color-primary;
      font-size: 0.8em;
    }

    .title {
      width: 100px;
    }

    .md-button {
      background: #d6d4d4;
      opacity: 0.5;

      &.selected {
        opacity: 1;
        background: color-primary;
        color: white;

        md-icon {
          color: white;
        }
      }
    }
  }

  .preview {
    background: whitesmoke;
  }

  .details {
    >* {
      border-top: solid 1px #d2d2d2;
      padding-top: 10px;
    }
  }

  .image {
    margin: 10px auto;
    text-align: center;
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
  }

  .url {
    word-wrap: break-word;
    text-align: left;
    font-size: 0.9em;

    label {
      font-weight: bold;
    }

    .link {
      word-wrap: break-word;
      color: grey;
    }
  }
}
