<div layout="column">

  <div ng-show="!media.file"
    flex="auto"
    class="not-found"
    layout="column"
    layout-align="center center">
    <p>Select a file from your computer.</p>
    <%-template('dialog/account-file/upload-button',page.action.upload)%>
  </div>

  <div ng-show="media.file"
    class="md-padding preview ag-margin"
    layout="column">

    <div class="image"
      style="background-image:url({{media.source}})">
    </div>

    <div class="details ag-margin"
      layout="column">

      <%-template('dialog/account-file/selection',page.sharing)%>

        <a href="{{media.url}}"
          target="_blank"
          class="url">
          <div layout="column">
            <span>Original file:</span>
            <span class="link">{{media.url}}</span>
          </div>
        </a>

        <div layout="row"
          layout-align="end center">
          <md-button class="md-warn">
            <md-icon md-svg-src="<%-get_icon('material/delete')%>"
              aria-label="delete"></md-icon>
            <span>Delete</span>
          </md-button>
          <%-template('dialog/account-file/upload-button',page.action.replace)%>
        </div>

    </div>

  </div>


</div>