<md-button type="file"
    ngf-accept="accept"
    ngf-select="media.upload($file)">
    <md-icon md-svg-src="<%-get_icon('material/file-upload')%>"
        aria-label="upload"></md-icon>
    <span>
        <%-lng(locals.title)%>
    </span>
</md-button>