
<div class="md-padding" layout="row" layout-sm="column">
  <%
  var menu = get_data('menu');
  var half = menu.length/2;
  %>
  <div layout="column" flex="100">
         <%
         for(var i=0;i<half;i++){
           var item = menu[i];
           %>
           <%-template('ui/page-card',{data:item})%>
           <%
         }
         %>
   </div>
<div layout="column" flex="100">
       <%
       for(var i=half;i<menu.length;i++){
         var item = menu[i];
         %>
         <%-template('ui/page-card',{data:item})%>
         <%
       }
       %>
 </div>
 </div>

 <md-content class="md-padding" layout="row" >
   <span flex="100">
   </span>
   <div class="poweredby">
     <p align="right">
       Powered by:
     </p>
   <img src="<%-get_asset('images/agneta-logo-full.png')%>">
 </div>
 </md-content>
