<div class="frame">

  <div class="md-padding" layout="row" layout-wrap layout-sm="column">
    <%
    var menu = get_data('menu');
    %>
    <%
    for(var item of menu){
      %>
      <div layout="column" flex="100" flex-gt-sm="50">
      <%-template('ui/page-card',{data:item})%>
      </div>
      <%}%>
    </div>

  </div>
