.page-utilities{
  .group-title{
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    color: color-primary;
  }

  .utility{
    margin: 0;
    height: 100%;

    md-card-title{
      padding: 16px;
      md-icon{
        color: color-primary;
        margin-right: 10px;
        width: 36px;
        height: 36px;
      }
    }

  }
}
