<div class="frame top ag-margin" layout="column">
  <%-template('ui/page-title')%>

  <div class="toolbar ag-margin md-padding" layout="row" layout-align="start end">
    <%-template('utility/parameters')%>
    <span flex="auto"></span>
    <p ng-show="status.running">Running...</p>
    <md-button ng-show="!status.running" class="md-raised" ng-click="run()">Start</md-button>
  </div>

  <div class="log md-padding"  flex="100" layout="column">
    <div flex="100" layout="column" md-whiteframe="2">
    <%-template('utility/log')%>
    <%-template('utility/progress')%>
  </div>
  </div>

</div>
