    <%

var builtin = [];
var project = [];
for(var utility of site.utilities){
  if(utility.builtin){
    builtin.push(utility);
    continue;
  }
  project.push(utility);
}

  %>
<div layout="column" layout-padding>
<%-template('utilities/group',{title:page.builtin,utilities:builtin})%>
<%-template('utilities/group',{title:page.project,utilities:project})%>
</div>
