color-error = #e80000
  color-success = #17a201

  .template-utility{

    .toolbar{
      .parameters{
        padding: 16px;
        .parameter{

          border-bottom: solid 1px #d0d0d0;
          padding-bottom: 20px;

          &:last-child{
            border-bottom: none;
            padding-bottom: initial;
          }

          .title{
            font-weight: bold;
            font-size: 1.2em;
            margin-bottom: 20px;
            color: #7b7b7b;
          }
        }
      }
    }

    .log{
      md-virtual-repeat-container{
        height: 400px;
      }

      .line{
        &.error{
          color: color-error;
          md-icon{
            color: color-error;
          }
          .icons{
            border-color: color-error;
          }
        }
        &.success{
          color: color-success;
          md-icon{
            color: color-success;
          }
          .icons{
            border-color: color-success;
          }
        }

        .message{
          white-space: pre-wrap;
          line-height: 1.6em;
        }

        .icons{
          width: 25px;
          border-right: solid 3px transparent;
          padding-right: 3px;
          margin-right: 6px;
        }

      }
    }

    .progress-bar{
      .title{
        font-weight: bold;
        font-size: 18px;
      }
      .current{
        color: grey;
        font-size: 13px;
      }

      md-icon{
        margin-right: 10px;
        height: 40px;
        width: 40px;
        &.complete{
          color: green;
        }
      }

      &.complete{
        md-progress-linear .md-bar{
          background-color: green;
        }
      }
    }
  }
