memory-usage{

  background: rgb(237, 240, 243);
  padding: 8px;
  border-radius: 5px;

  .icon{
    color: color-primary;
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .usage{
    width: 74px;
    .progress{
      width: 100%;
      margin-bottom: 6px;
      background: white;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

}

md-menu-content.memory-content{
  .header{
    h3{
      margin-right: 6px;
    }
  }
  .unit{
    .title{
      margin-right: 6px;
    }
  }
}
