content-width = 1200px;

.page-title{
  border-bottom: solid 3px color-primary;
  padding-bottom: 10px;
  color: color-primary;

  h2{
    font-size: 1.8em;
  }

  md-icon{
    width: 40px;
    height: 40px;
    color: color-primary;
    margin-right: 10px;
  }
}

.frame{
  max-width: 100%;
  width: content-width;
  margin: 0 auto;
  box-sizing: border-box;

  &.top{
    margin-top: 20px;
  }
}
