<%
  var data = get_data('toolbar').account;
%>

<div layout="column" class="ag-margin">
<%for(var action of data.signedOut.actions){
  if(action.isConfig){
    if(!_.get(config,action.isConfig)){
      continue;
    }
  }
  %>
  <md-button class="bg-grey" ng-click="<%-action.click%>">
  <%-lng(action.title)%>
  </md-button>
<%}%>
</div>
