<%if(config.contact_form){%>
<div ag-contact-ctrl>
<md-button ng-cloak class="md-fab md-primary" aria-label="Contact" ng-click="open()">
    <md-tooltip md-direction="top">Message</md-tooltip>
    <md-icon md-svg-src="<%-get_icon('material/message')%>"></md-icon>
</md-button>
</div>
<%}%>
