 <%if(site.portal && site.env == 'development'){
  %>
    <md-fab-speed-dial md-direction="up" layout-align="left" ng-cloak class="portal md-scale md-fab-bottom-left">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-white">
                <md-icon md-svg-src="<%-get_asset('images/agneta-logo.svg')%>"></md-icon>
            </md-button>
        </md-fab-trigger>

        <md-fab-actions>
            <md-list class="list md-whiteframe-1dp">
                <div ag-portal-ctrl>
                    <md-list-item ng-click="home()">
                        <md-icon md-svg-src="<%-get_icon('material/home')%>" aria-label="Home"></md-icon>
                        <p>Portal</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                      <md-icon md-svg-src="<%-get_icon('material/clear-all')%>"></md-icon>
                        <md-select ng-model="limitName" ng-change="clearLimit()" placeholder="Clear Limits" class="md-no-underline">
                            <md-option ng-repeat="limit in limits" class="portal-option" ng-value="limit.name">{{limit.title}}</md-option>
                        </md-select>
                    </md-list-item>
                </div>
            </md-list>
        </md-fab-actions>
    </md-fab-speed-dial>
<%}%>
