h2 {
  padding: 0 !important;
  margin: 0 !important;
  color: color-green;
}

.account-image {
  >div {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background-color: grey;
    background-position: center;
    background-size: cover;
    background-image: url(data('account.picture'));
  }
}

.account {
  padding-top: 20px;
}

.regards {
  >div {
    color: grey;
    line-height: 1.5em;
  }
}
