@import "./file"

.dialog-file{
  .roles{
    background: #818181;
    .header{
      color: white;
      md-icon{
        color: white;
        margin-right: 10px;
      }
      .title{
        font-size: 1.2em;
      }
    }
    .md-chips{
      box-shadow: none;
      .md-chip-input-container input{
        border-bottom: solid 2px white;
        color: white;
      }
    }
    md-chip{
      background: white;
    }
  }
}
