<md-toolbar>

  <div class="md-toolbar-tools">
    <h2><%-lng(page.title)%></h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="close()">
      <md-icon md-svg-src=<%-get_icon( "material/close")%> aria-label="Cancel"></md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="done()">
      <md-icon md-svg-src=<%-get_icon( "material/check")%> aria-label="Done"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<textarea id="source-editor"></textarea>
