<div class="body-copy">
    <div>
      <%-lng(message)%>
    </div>
    <table class="account">
      <tr>
        <td>
          <div
          style="background-image:url(<%-account.picture%>)"
            class="image">
          </div>
        </td>
        <td>
          <div class="regards">
            <p>Regards,</p>
            <p><%-lng(account.name)%></p>
            <p><%-lng(account.position)%></p>
          </div>
        </td>
      </tr>
    </table>
</div>
