.header-copy{
  text-align: left;
  padding: 20px 0;
  h2{
    padding: 0 20px !important;
  }
}

.body-copy{
  text-align: left;
  padding: 0 20px !important;
}

.image{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: grey;
  background-position: center;
  background-size: cover;
}

.account{
  padding-top: 20px;
}

.regards{
  padding-left: 20px;
  p{
    line-height: 1.2em;
  }
}
