.body-copy{
  text-align: left;
  padding: 30px 20px !important;

  h2{
    padding: 0 !important;
    margin: 0 !important;
    color: color-green;
  }
}

.image{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: grey;
  background-position: center;
  background-size: cover;
}

.account{
  padding-top: 20px;
}

.regards{
  padding-left: 20px;
  p{
    line-height: 1.5em;
    margin: 0;
  }
}
