<div layout="row" layout-align="center center">
  <%for(var action of step.actions){
    if(_.isString(action)){
      action = page.action[action]
    }

    %>
  <md-button ng-disabled="<%-action.disabled%>" class="md-primary round md-raised" ng-click="<%-action.click%>">
      <%-lng(action.title)%>
  </md-button>
  <%}%>
</div>
