<a class="ui-link" ng-href="<%-locals.href%>">
  <div layout="row" layout-align="start center">
    <span><%-lng(locals.title)%></span>
    <md-icon aria-label="icon" md-svg-src="<%-get_icon('material/open-in-new')%>">
    </md-icon>
  </div>
</a>
