<div class="error-messages" ng-messages="<%-field.prop%>.$error" <%-locals.attr%> role="alert">
<%

for(var name in field.validators){

  var message = name;
  var value = field.validators[name];

  switch(name){
    case 'pattern':
    message = value;
    break;
  }

  var validator = {
    name: name,
    value: value
  };

  var validatorData = get_data('form/validators/'+message);
  if(!validatorData){
    console.warn(`Could not find validator: ${message}`);
    continue;
  }
  console.log('message',validatorData.message);
  text = lng(validatorData.message);
  console.log('text',text);

  %>

  <div ng-message="<%-name%>" class="error">
  <%-render_template(text,validator)%>
  </div>

  <%
  console.log('render_template');

}
%>
</div>
