<div class="error-messages" ng-messages="<%-field.prop%>.$error" <%-locals.attr%> role="alert">
<%

for(var name in field.validators){

  var message = name;
  var value = field.validators[name];

  switch(name){
    case 'pattern':
    message = value;
    break;
  }

  var validator = {
    name: name,
    value: value
  };

  var text = get_data('form/validators/'+message);
  if(!text){
    console.warn(`Could not find validator: ${message}`);
    continue;
  }
  text = lng(validator.message);
  %>

  <div ng-message="<%-name%>" class="error">
  <%-render_template(text,validator)%>
  </div>

  <%
}
%>
</div>
