height = 16px;
color-score-0 = #da0f0f;
color-score-1 = #ff6f00;
color-score-2 = #c5a90a;
color-score-3 = #98b50c;
color-score-4 = #34a70a;

form{
  .password-strength{

    display: flex;
    flex-direction: column;
    background: whitesmoke;
    padding: 10px;

    &.score-0{
      .message{
        color: color-score-0
      }
      .md-bar{
        background: color-score-0;
      }
    }
    &.score-1{
      .message{
        color: color-score-1
      }
      .md-bar{
        background: color-score-1;
      }
    }
    &.score-2{
      .message{
        color: color-score-2
      }
      .md-bar{
        background: color-score-2;
      }
    }
    &.score-3{
      .message{
        color: color-score-3
      }
      .md-bar{
        background: color-score-3;
      }
    }
    &.score-4{
      .message{
        color: color-score-4
      }
      .md-bar{
        background: color-score-4;
      }
    }

    .messages{
      margin-top: 8px;
      margin-bottom: 20px;
    }

    .progress{

      background: white;
      border-radius: 3px;
      box-shadow: 0 2px 3px grey;
      padding: 10px 6px;

      md-progress-linear{
        height: height;
        >div{
          height: height;
        }
      }

      .title{
        padding-right: 10px;
        font-weight: bold;
      }

      .md-bar{
        border-radius: 3px;
        height: height;
        transition: background 400ms ease, transform .2s linear;
      }
    }

    .feedback{
      margin-top: 10px;

      .warning{
        font-weight: bold;
        font-size: 0.9em;
      }

      .suggestions{
        li{
          font-size: 0.8em;
        }
      }
    }

  }
}
