md-dialog{
  &.iframe{

    min-width: 90%;
    min-height: 90%;

    max-width: 90%;
    max-height: 90%;

    iframe{
      position: absolute;
      overflow:hidden;
      height:100%;
      width:100%;
    }
    
    .close{
      position: absolute;
      right: 5px;
      top: 10px;
      z-index: 4;
      right: 0;
      background: white;
    }
  }
}
