.ui-tabs{
  >.header{
    z-index: 2;
    .item{
      border-bottom: solid 2px;
      border-color: transparent;
      transition: border-color 400ms ease;
      padding: 6px;
      margin: 0 6px;
      min-width: 90px;
      text-align: center;
      &.active{
        color: #116377;
        border-radius: 0;
        font-weight: bold;
        border-color: color-primary;
      }
    }
  }
}
