<div class="media-value" layout="row" layout-align="start stretch" <%-locals.attr%>>
  <div class="thumbnail" style="background-image:{{media.backgroundImage(data,'small')}}" layout="column" layout-align="center center">
    <md-icon ng-if="!media.hasBackground(data)" md-svg-src="{{media.getIcon(data)}}"></md-icon>
  </div>
  <div layout="column" flex="auto">
    <div layout="row">
      <p class="title">{{data.__value.location}}</p>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="media.edit(field,parent,key)" aria-label="edit media">
        <md-icon md-svg-src="<%-get_icon('material/mode-edit')%>"></md-icon>
      </md-button>
    </div>
    <div layout="column">
      <%-template('edit/content/standard/object-fields')%>
    </div>
  </div>
</div>
