.roles{

  .role{
    text-transform: capitalize;
    .delete{
      color: color-red;
    }
  }

  .details{
    >.title{
      background: whitesmoke;
      margin: 0;
      border-top: solid 3px color-primary;
      margin-top: 20px;
    }
    .ui-tabs{
      >.header{
        background: whitesmoke;
      }
    }
  }
}
