<md-dialog aria-label="confirm">

  <md-toolbar>

    <div class="md-toolbar-tools">
      <h2>Confirm</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="close()">
        <md-icon md-svg-src=<%-get_icon("material/close")%> aria-label="Cancel"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content style="max-width:500px;max-height:600px; ">
    <md-content layout-padding>
        <p>
            Are you sure?
        </p>
    </md-content>
  </md-dialog-content>

  <md-dialog-actions layout="row" md-whiteframe="2">
    <span flex> </span>
    <md-button  ng-click="reject()">
      No
    </md-button>
    <md-button ng-click="confirm()"  class="md-raised md-primary">
      Yes
    </md-button>
  </md-dialog-actions>

</md-dialog>
