<md-dialog aria-label="{{data.title}}" class="error">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-icon class="header-icon" md-svg-src=<%-get_icon("material/error")%>></md-icon>
        <h2>{{data.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button"  ng-click="close()">
          <md-icon md-svg-src=<%-get_icon("material/close")%> aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content" ng-bind-html="data.content">
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button  ng-click="close()">
        Ok
      </md-button>
    </md-dialog-actions>
</md-dialog>
