  <md-toolbar class="md-warn">
  <h2>Login Required</h2>
  <p>
  To view your control panel you need to login or register for an account.
  </p>

  </md-toolbar>

  <div class="panel-content">

  </div>