<md-dialog aria-label="{{data.title}}" class="warning">

    <%-template('ui/loader')%>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-icon class="header-icon" md-svg-src=<%-get_icon("material/warning")%>></md-icon>
        <h2>{{data.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()">
          <md-icon md-svg-src=<%-get_icon("material/close")%> aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content" ng-bind-html="data.content">
    </md-dialog-content>
    <md-dialog-actions layout="row">
    <md-button ng-show="data.action" ng-click="action()">
        {{data.action.title}}
      </md-button>
      <md-button  ng-click="close()">
        Ok
      </md-button>
    </md-dialog-actions>
      <%-template('ui/loader')%>
</md-dialog>
