md-input-container .md-auto-hide .md-input-message-animation{
  transition: none !important;
}

md-input-container .md-auto-hide .md-input-message-animation:not(.ng-animate){
  opacity: 1;
  margin-top: 0;
}

md-input-container .md-auto-hide .md-input-message-animation:not(.ng-animate){
  top: 0;
  left: 0;
}

input {
  border:none;
  outline:none;
}

*:focus {
  border:none;
  outline:none;
}
