.site-menu{

	top: 0;
	bottom: 0;
	overflow: hidden;

	[ng-controller="MenuSide"]{
		height: 100%;
	}

	&.unlocked{
		position: absolute !important;
	}

	.logo{
		padding: 0 10px;
		margin: 0 auto;
		img{
			max-height: 100px;
		}
	}

	.header{
		>h2{
			margin: 0 auto;
			color: color-primary;
		}
	}

	md-list{
		md-icon{
			color: color-primary;
			padding-right: 10px;
		}
	}

}
