md-menu-toolbar.site-content-toolbar {

  background: white;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 76;

  .md-toolbar-tools {
    height: toolbar-height - preloader-height !important;
    max-height: toolbar-height - preloader-height !important;
    >.account {
      position: relative;
      &.user-check {
        >.api-loader {
          display: flex !important;
        }
      }
    }

    .md-fab{
      width: 45px;
      height: 45px;
      box-shadow: none;
    }
  }
  .md-button:not(.md-raised) {
    color: color-primary;
  }

  .brand{
    .icon{
      color: color-primary;
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }

    .title{
      color: color-primary;
    }

    .image {
      display: block;
      height: 90%;
      width: auto;
    }
  }

  .account {
    position: relative;
    .picture {
      background: #f8f8f8;
      box-shadow: inset 0 1px 2px grey;
      height: 45px;
      width: 45px;
      background-position: center;
      background-size: cover;
      md-icon {
        color: color-primary !important;
        width: 30px;
        height: 30px;
      }
    }
  }
}

.toolbar-account-menu{
  .signed-out{
    text-align: center;
    md-icon{
      width: 70px;
      height: 70px;
      color: color-primary;
    }
    .title{
      font-weight: bold;
    }
    .message{
      margin-bottom: 10px;
    }
  }
}

.md-toolbar-tools{
  >.icon-container{
    margin-right: 10px;
  }
}
