<div ag-account-overview class="content overview layout-padding" layout="column">
  <div layout="row" class="md-padding">
    <div layout="row" layout-align="center center">

        <%-template('ui/account-picture',{model:'viewAccount',click:'overview.changePicture()'})%>

        <div flex class="headline">
            <p class="md-headline">{{viewAccount.name}}</p>

            <div class="email ag-margin" layout="column">
              <div class="ag-margin" layout-align="start center" layout="row">
                <p class="title">Email</p>
                <span flex="auto"></span>
                <span ng-if="viewAccount.emailVerified" class="message green">Verified</span>
                <span ng-if="!viewAccount.emailVerified" class="message red">Not verified</span>
              </div>
              <div class="ag-margin" layout-align="start center" layout="row">
                <p>{{viewAccount.email}}</p>
                <span flex="auto"></span>
                <md-button ng-click="dialog({partial:'email-compose',data:{to:viewAccount.email}})">Contact</md-button>
                <md-button ng-click="overview.resendVerification()" class="md-raised" ng-if="!viewAccount.emailVerified">Verify</md-button>
              </div>
          </div>

        </div>
    </div>
    <span flex></span>
    <span>ID: {{viewAccount.id}}</span>
  </div>

    <div layout="column" class="details">

        <div ng-if="viewAccount.veriSentAt">
        <p class="subhead">Verification Sent
            <span am-time-ago="viewAccount.veriSentAt"></span>
        </p>
        <p>{{viewAccount.veriSentAt | amUtc | amLocal | amDateFormat:'DD MMMM YYYY HH:mm:ss'}}</p>
        </div>

        <md-divider></md-divider>
        <p class="subhead">Registered
            <span am-time-ago="viewAccount.createdAt"></span>
        </p>
        <p>{{viewAccount.createdAt | amUtc | amLocal | amDateFormat:'DD MMMM YYYY HH:mm:ss'}}</p>
        <md-divider></md-divider>
        <p class="subhead">Updated
            <span am-time-ago="viewAccount.updatedAt"></span>
        </p>
        <p>{{viewAccount.updatedAt | amUtc | amLocal | amDateFormat:'DD MMMM YYYY HH:mm:ss'}}</p>
        <md-divider></md-divider>

    </div>

</div>
