<div class="bullet"></div>
<div layout="column" flex="auto">
  <span>{{commit.message}}</span>
  <span>{{commit.point}}</span>
</div>
<div class="date" layout="column">
<p am-time-ago="commit.date"></p>
<p>{{commit.date | amUtc | amLocal | amDateFormat:'DD MMMM YYYY HH:mm:ss'}}</p>
</div>
