md-menu-content{

  &.md-custom-menu-content{
    box-shadow: 0 3px 10px grey;

    .md-date-range-picker__calendar__selected{
      background: color-primary;
      margin: 4px 0;
    }

    .md-date-range-picker{
      background: transparent;
    }

    .md-date-range-picker__calendar{
      background: white;
    }

  }
}
