md-date-range{
  .md-select-value{
    border: none;
  }
}

md-menu-content{

  &.md-custom-menu-content{
    box-shadow: 0 3px 10px grey;

    .md-date-range-picker__calendar__grid{
      margin: 4px 0;
    }

    .md-date-range-picker__calendar__selected{
      background: color-primary;
    }

    .md-date-range-picker{
      background: transparent;
    }

    .md-date-range-picker__calendar{
      background: white;
    }

  }
}
