form{
  .title{
    font-size: 0.94em;
    font-weight: bold;
    color: #4f5153;
  }
  .description{
    font-size: 0.9em;
    color: #5d5d5d;
    margin-bottom: 12px;
  }
  checkboxes{
    margin-top: 15px;
  }
  .postfix{
    color: color-primary;
    font-weight: bold;
    padding-left: 10px;
  }
  md-input-container{
    margin: 0;
  }

  .error-messages{
    font-size: 12px;
    .error{
      color: color-red;
    }
  }
}
