.grid-50, .grid-33, .grid-25{
	display: inline-block;
	margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
    float: left;
}
.grid-50{
	width: 50%;
}
.grid-33{
	width: 33%;
}
.grid-25{
	width: 25%;
}