.ag-notifications{

  color: white;
  text-align: center;
  box-shadow: none;
  z-index: 100;
  position: relative;
  width: 100%;
  transition: height 400ms ease;
  height: 0;
  background: color-primary;

  &.active{
    height: 30px;
    box-shadow: 0 -2px 39px grey;
  }

  &.error{
    background: color-red;
  }

  .message{
    padding: 5px;
    height: 100%;
  }

}
