md-fab-speed-dial.portal {
  z-index: 80;
  position: fixed;
  md-fab-trigger{
    md-icon{
      width: 30px;
      height: 30px;
    }
  }
  md-list{
    background: white;
  }

  md-list-item{
    md-icon{
      padding-right: 10px;
    }
    md-select{
      margin: 0;
      &.md-no-underline{
        .md-select-value{
          color: inherit;
        }
      }
    }
  }
}
.portal-option{
  text-transform: capitalize;
}
