.md-autocomplete-suggestions-container{

  min-width: 400px !important;
  height: inherit !important;
}

.autocomplete-search-template{
  .highlighted{
    font-weight: bold;
  }

  li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;

    &:last-child {
      border-bottom-width: 0;
    }
  }

  .item-title, .item-metadata {
    display: block;
    line-height: 2;
  }

  .item-title{
    color: color-primary;
    font-size: 16px;
    md-icon {
      height: 18px;
      width: 18px;
    }
  }
}

.select-search{
  &.md-select-menu-container{

    margin-top: 94px;
    min-width: 100px !important;
    max-width: 400px !important;

    md-select-menu{
      overflow: initial;
    }

    md-option{
      
      height: initial;
      padding: 7px 0;
      border-bottom: solid 1px #cbcbcb;

      .md-text{
        text-overflow: initial;
        white-space: initial;
        line-height: 1.5em;
      }
    }

    md-select-header{
      position: fixed;
      top: -45px;
      left: 0;
      width: 100%;
      z-index: 3;
      border-bottom: solid 3px color-primary;
      box-sizing: border-box;
      background: #f4f4f4;
      border-radius: 4px 4px 0 0;
      box-shadow: 0 2px 6px lightgrey;
      input{
        width: 100%;
        padding: 13px;
        background: transparent;
        box-sizing: border-box;
      }
    }
  }
}
