md-sidenav {

  .toolbar{
    .title{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
    }
  }
  md-list-item {
    &.active {
      pointer-events: none;
      background: color-accent;
      &._md-button-wrap>div.md-button:first-child{
        font-weight: bold;
      }
    }
    a.md-button {
      margin: 0;
      padding: 5px 10px;
    }
  }
}

md-backdrop.md-sidenav-backdrop {
  z-index: 55;
}

.sidebar-default{
  .heading{
    background: color-primary;
    color: white;
  }
  .item{
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    &:hover{
      background: rgb(231, 231, 231);
    }
    &.active {
      pointer-events: none;
      background: color-accent;
    }
  }
}
