md-tooltip{
  z-index: 80;

  .md-content{
    font-size: 16px;
    padding: 10px;
    max-width: 650px;
    white-space: normal;
    line-height: 27px;
    height: auto;
    background: white;
    opacity: 1;
    color: color-primary;
    border-radius: 4px;
    border: solid 1px color-primary;

    p{
      margin: 2px;
    }

    &.md-show, &.md-show-add-active {
      opacity: 1;
    }
  }
}
