<div class="preview">
    <div class="container" layout="column" layout-align="center center">
        <img class="image" ng-if="preview_src" ng-src="{{preview_src}}">
        <md-icon ng-if="!preview_src" md-svg-src="{{getIcon()}}"></md-icon>
    </div>
</div>
