<md-toolbar>
    <div class="md-toolbar-tools">
        <div layout="column">
            <h2 class="title">{{file.type}}</h2>
            <h2 ng-show="!file.location" class="title"><%-lng('file.empty.title')%></h2>
        </div>
        <span flex></span>
        <p>{{file.size}}</p>
        <md-button class="md-icon-button" ng-click="close()">
            <md-icon md-svg-src="<%-get_icon('material/close')%>" aria-label="Cancel"></md-icon>
        </md-button>
    </div>
</md-toolbar>
