<div class="field ag-margin" layout="row" layout-align="start center">
  <span class="title"><%-lng(locals.title)%>:</span>
  <div flex="auto">
    <input ng-model="<%-locals.model%>" type="text"/>
  </div>
</div>
