md-dialog.ag-email-compose{
  position: relative;
  .fields{
    .field{
      background: color-primary;
      padding: 2px;
      border-radius: 3px;
      .title{
        color: white;
        padding-left: 10px;
        min-width: 80px;
      }
    }
    input{
      border-radius: 3px;
      line-height: 2em;
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
    }
    ng-quill-editor{
      >div{
        border-radius: 2px;
        background: white;
      }
    }
    .ql-toolbar{
      border: none;
    }
    .ql-editor{
      min-height: 320px;
    }
    .ql-container{
      border: none;
    }
  }
}
