md-dialog.account-login{
  .options{
    background: whitesmoke;

    .option{
      border-bottom: solid 1px #bfbfbf;
      padding-bottom: 10px;
      margin-bottom: 10px;

      &:last-child{
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }

    .md-button{
      background: white;
    }
  }
}
