md-dialog.register{
  background: gainsboro;
  .toolbar{
    h2{
      color: #606161;
      font-weight: normal;
    }
  }
  md-dialog-content{
    padding: 20px;
  }
  md-dialog-actions{
    background: white;
  }
}
