.page-system-api{
  .ag-list-item{
    padding: 10px;
  }
  .method{
    background: whitesmoke;
    padding: 10px;

    td{
      border-bottom: solid 1px;
      padding: 10px 0;
      &:first-child{
        font-weight: bold;
        padding-right: 10px;
      }
    }
  }
}
