.page-system-server{
  .box{

    background: whitesmoke;
    padding: 14px;
    border-radius: 3px;

    >.title{
      color: color-primary;
      font-size: 1.4em;
      margin-bottom: 12px;
    }
  }
}
