<div class="frame top" layout="column" layout-margin>
  <%-template('ui/page-title')%>
  <div layout="row">

    <div layout="column" class="box">
      <p class="title">
        <b>Versions</b>
      </p>
      <p>Agneta Platform:
        <%-site.version.agneta%></p>
      <p>Node.js:
        <%-site.version.node%></p>
      <p>NPM:
        <%-site.version.npm%></p>
    </div>

    <span flex="auto"></span>

  </div>

</div>
