.page-system-server{
  .box{

    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 6px grey
    border-radius: 7px;
    background: whitesmoke;

    >.header{
      padding: 10px;
      box-shadow: 0 4px 10px #afafaf;
      background: white;
      z-index: 12;
      .title{
        color: color-primary;
        font-size: 1.4em;
      }
    }

    >.content{
      padding: 14px;
    }

    @import './server/git'
    @import './server/logs'

  }

}
