<md-input-container ng-if="field.type == 'text'" class="field text">
  <label></label>
  <textarea aria-label="{{field.name}}" ng-model="data.__value[edit.lang]" placeholder="{{edit.lng(data.__value)}}" ng-keypress="onFieldChange(data)" ng-init="registerInput(data)" md-select-on-focus></textarea>
</md-input-container>
