<md-input-container class="type-inline" ng-if="field.type == 'text-single'">
    <label></label>
    <input <%-template('edit/main/validators')%> aria-label="{{field.name}}" ng-model="data.__value[edit.lang]" ng-keypress="onFieldChange(data)" ng-init="registerInput(data)" md-select-on-focus placeholder="{{edit.lng(data.__value)}}">
    <div ng-include="'data-messages.html'"></div>
</md-input-container>
