<div layout="row" layout-align="left" align="left" class="actions">
  <md-button flex="1"  ng-click="select()">
      <md-icon md-svg-src="<%-get_icon('agneta/media')%>" aria-label="<%-lng('portal.media')%>"></md-icon>
      <span>Select</span>
  </md-button>
  <md-button flex="1"  type="file" ngf-accept="accept" ngf-select="upload($file)">
      <md-icon md-svg-src="<%-get_icon('material/file-upload')%>" aria-label="upload"></md-icon>
      <span>Upload</span>
  </md-button>
  <md-button flex="1" ng-show="file.id" href="{{file.url}}" target="_blank" download="{{file.name}}">
      <md-icon md-svg-src="<%-get_icon('material/file-download')%>" aria-label="Download"></md-icon>
      <span>Download</span>
  </md-button>
</div>
