<div layout="column" class="summary" flex="100">
<md-input-container>
    <label>Name</label>
    <input ng-model="file.name">
</md-input-container>

<md-input-container>
    <label>Directory</label>
    <input ng-disabled="config.dirLock" ng-model="file.dir">
</md-input-container>

<md-input-container>
    <label>Content Type</label>
    <input ng-model="file.contentType">
</md-input-container>

</div>
