<md-input-container class="select">
  <md-select placeholder="Select" class="md-no-underline md-raised" ng-change="onFieldSelect(parentField,parent,field,data.__value)" <%-template('edit/content/validators')%> ng-model="data.__value">
    <md-option ng-value="option.value" ng-repeat="option in field.options">{{option.title?option.title:option.value}}</md-option>
  </md-select>
  <div ng-include="'data-messages.html'"></div>
</md-input-container>
