<%
  var model = '(parent.__value || parent)[key].__value';
  var inputClass = '';
  if(locals.modelRoot){
    model = 'parent[key]';
  }
%>
  <md-input-container class="type-inline <%-inputClass%>" ng-class="{'has-postfix':field.postfix}" ng-if="field.type == 'value'">
    <input type="{{field.valueType||'text'}}"
    aria-label="{{field.name}}"
    ng-model="<%-model%>"
    ng-keypress="onFieldChange(data,field)"
    ng-init="registerInput(data)"
    md-select-on-focus>
    <span ng-if="field.postfix" class="postfix">{{field.postfix}}</span>
  </md-input-container>
