  <div align="center" class="body-copy">
    <!--BODY-COPY TXT-->
    <% for(var p of body){ %>
      <p>
        <%-lng(p)%>
      </p>
      <% } %>
        <!--BODY-COPY TXT-->
  </div>
<%-template('_layout/fields')%>
