<tr>
  <td align="center" class="body-copy">
    <!--BODY-COPY TXT-->
    <% for(var p of body){ %>
      <p>
        <%-lng(p)%>
      </p>
      <% } %>
        <!--BODY-COPY TXT-->
  </td>
</tr>
<%-template('_layout/fields')%>
