.template-content{

	background: white;
	line-height: 24px;

	.partial{
		padding: 0 16px;
	}

	.ui.list>.item .header{
		margin-bottom: 0.5em;
	}

	h2{
		margin-bottom: 18px;
	}

	img{
		border-radius: 6px;
	}

	.paragraph{
		margin: 14px 0;
	}

	p{
		line-height: 1.6em;
	}

	.segment{
		>.header{
			color: color-primary;
		}
	}

	md-list.numbers{
		.md-fab{
			display: inline-block;
			position: absolute;
			top:0;
			left: 0;
			pointer-events: none;
			font-size: 26px;
		}

		.list-item{
			position: relative;
		}

		.md-list-item-text{
			margin-left: 80px;
			min-height: 71px;
		}

		h3{
			color: color-primary;
		}
	}
}
