md-dialog.contact{

  md-content{
    &.select{
      md-icon{
        color: color-primary;
        padding-right: 8px;
      }
      md-list-item{
        &.selected{
          background: rgb(204, 229, 249);
        }
      }
    }
  }

}
