md-dialog {

	max-width: 94%;
	max-height: 94%;
	margin: 20px auto;
	width: 560px;

	.header-icon {
		width: 40px;
		height: 40px;
		margin-right: 13px;
	}
	md-dialog-content {
		padding: 0;
	}
	.md-dialog-content {
		max-width: 500px;
		word-wrap: break-word;
	}
	.value{
		padding-left: 50px;
	}
	&.error {
		md-toolbar:not(.md-menu-toolbar) {
			background: color-red;
		}
	}
	&.success {
		md-toolbar:not(.md-menu-toolbar) {
			background: color-green;
		}
	}
	&.warning {
		md-toolbar:not(.md-menu-toolbar) {
			background: color-orange;
		}
	}
}

@media only screen and (max-width: dialog-width) {
	md-dialog {
		width: dialog-width;
		min-width: initial;
	}
}
