form{

  .title{
    font-size: 0.94em;
    font-weight: bold;
    color: #4f5153;
  }
  .description{
    font-size: 0.9em;
    color: #5d5d5d;
    margin-bottom: 12px;
  }
  checkboxes{
    margin-top: 15px;
  }
  .postfix{
    color: color-primary;
    font-weight: bold;
    padding-left: 10px;
  }
  .field{
    padding: 10px;
    border-radius: 4px;
    background: white;

    &.layout-row, &.layout-column{
      background: transparent;
      padding: 0;
    }

    mdp-time-picker{
      button.md-button.md-icon-button{
        margin: 0;
      }
    }
  }
  md-input-container{
    margin: 0;
  }

  .error-messages{
    font-size: 12px;
    .error{
      color: color-red;
    }
  }
}
