<div>

<%-template('manager/history/tools')%>

<md-progress-linear ng-show="true" md-mode="{{progressMode}}"></md-progress-linear>

<div ng-show="!feeds && (progressMode=='determinate')" class="feed-message not-found" layout="column">
    <p class="title">
    No data to display
  </p>
  <md-icon md-svg-src="<%-get_icon('material/info-outline')%>"></md-icon>
  <p class="message">Select a feed in the sidebar or change the date to where we have recorded activities.</p>
</div>
<div ng-show="feeds">
    <canvas id="manager-history-canvas" width="400" height="140" ng-click="onChartClick($event)"></canvas>

    <%-template('manager/history/list')%>
</div>

</div>
