<div class="feed-list">
    <md-list-item ng-click="selectFeed(feed)" ng-class="{selected:feed.id==page.feedSelected.id}" ng-repeat="feed in feeds | orderBy:'-total'" layout="row">
        <div class="feed-color" ng-style="{background:'rgb('+feed.rgb+')'}"></div>
        <div class="md-list-item-text" layout="column">
            <p class="title">{{feed.title || feed.value}}</p>
            <p class="subtitle">{{feed.subtitle}}</p>
        </div>
        <span flex="" class="flex"></span>
        <div ng-show="feed.id==page.feedSelected.id" class="selections">
          <md-button class="md-icon-button" ng-click="showActivities(feed)">
            <md-icon md-svg-src="<%-get_icon('material/visibility')%>" aria-label="View"></md-icon>
          </md-button>
        </div>
        <div class="md-list-item-text" layout="column">
            <p>{{feed.total}}</p>
        </div>
    </md-list-item>
</div>
