toolbar-height = 60px;
preloader-height = 5px;
footer-height = 200px;

color-grey = #F9FAFB;

color-red = rgb(244, 67, 54);
color-green = rgb(0, 200, 37);
color-orange = rgb(245, 124, 0);

color-border = #D9DADB;
navheight=  70px;

dialog-width = 440px;
