.page-manager-accounts{

  @import '../ui/live-toggle'
  @import './accounts/roles'
  @import './accounts/auth'
  @import './accounts/list'
  @import './accounts/summary'
  @import './accounts/activities'

  .site-menu{
    width: 480px;

    .search-list{

      margin: 0;
      padding: 10px 14px;
      box-shadow: 0 0px 6px grey;
      z-index: 4;

      md-icon{
        width: 30px;
        height: 30px;
        padding: 0;
      }

      input{
        padding: 10px 0;
      }
    }
  }

  .menu{
    box-shadow: 0 2px 4px grey;
    .item{
      &.active{
        color: #116377;
        border-radius: 0;
        font-weight: bold;
        border-bottom: solid 4px
      }
    }
  }

  .boxes{
    padding: 5px;

    md-whiteframe{
      margin: 5px;
    }

    .section{
      .header{
        .title{
          font-size: 22px;
          color: color-primary;
          font-weight: normal;
        }
      }
      >.content{
        position: relative;
      }
    }
  }

  .action-warn{
    padding: 4px 10px;
    background: color-red;
    color: white;
  }
}
