.page-manager-accounts{

  @import '../ui/live-toggle'
  @import './accounts/roles'
  @import './accounts/list'
  @import './accounts/summary'
  @import './accounts/activities'

  .boxes{
    padding: 5px;

    md-whiteframe{
      margin: 5px;
    }

    .section{
      .header{
        .title{
          font-size: 22px;
          color: color-primary;
          font-weight: normal;
        }
      }
    }
  }

  .action-warn{
    background: color-red;
  }
}
