<md-button class="md-primary" ng-href="{{url('preview/real-time',edit.lang,page.path)}}" target="_blank" layout="row" layout-align="left center">
    <md-icon md-svg-src="<%-get_icon('material/open-in-new')%>"></md-icon>
    <span class="title">
        Open
    </span>
</md-button>
