.page-edit-media .dir {
  min-height: 200px;
}
.page-edit-media md-grid-tile {
  cursor: pointer;
  background: #e8e7e7;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-edit-media md-grid-tile md-icon {
  color: #7e7d7d;
  width: 40%;
  height: 40%;
}
.page-edit-media md-grid-tile .toolset {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  padding: 6px;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
}
.page-edit-media md-grid-tile .toolset md-icon {
  color: #aeaeae;
}
.page-edit-media md-grid-tile.selected figure {
  border: solid 9px #fff;
  -webkit-box-shadow: 0 6px 16px #808080;
  box-shadow: 0 6px 16px #808080;
  z-index: 10;
}
.page-edit-media md-grid-tile-footer {
  background: rgba(0,0,0,0.46);
}
.page-edit-media md-tabs[md-border-bottom] md-tabs-wrapper {
  background: #f6f6f6;
}
.page-edit-media md-tabs md-ink-bar {
  color: #2196f3;
  background: #2196f3;
  height: 3px;
}
.dialog-file .md-toolbar-tools .title {
  text-transform: capitalize;
}
