.page-home .page-card {
  padding: 10px;
}
.page-home .page-card .md-headline {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.page-home .page-card .container {
  -webkit-box-shadow: 0px 2px 3px #808080;
  box-shadow: 0px 2px 3px #808080;
  padding: 10px;
}
.page-home .page-card .menu md-icon {
  padding-right: 10px;
}
.page-home .page-card .header {
  border-bottom: solid 1px #d9dadb;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.page-home .page-card .card-icon {
  margin-right: 10px;
  width: 70px;
  height: 70px;
  color: #2196f3;
}
.page-home .poweredby img {
  height: 44px;
  width: auto;
}
