.page-utilities .group-title {
  text-align: center;
  font-size: 22px;
  font-weight: normal;
  color: #2196f3;
}
.page-utilities .utility {
  margin: 0;
  height: 100%;
}
.page-utilities .utility md-card-title {
  padding: 16px;
}
.page-utilities .utility md-card-title md-icon {
  color: #2196f3;
  margin-right: 10px;
  width: 36px;
  height: 36px;
}
