<div align="center" class="body-copy">
  <%-lng(intro)%>
</div>
<div class="form-fields" align="center" class="body-copy">
<%-template('_layout/fields')%>
</div>
<div align="center" class="body-copy">
  <%-lng(outro)%>
</div>
