.page-documentation .page-content {
  background: #fff;
  line-height: 24px;
}
.page-documentation .page-content .partial {
  padding: 0 16px;
}
.page-documentation .page-content .ui.list>.item .header {
  margin-bottom: 0.5em;
}
.page-documentation .page-content h2 {
  margin-bottom: 18px;
}
.page-documentation .page-content img {
  border-radius: 6px;
}
.page-documentation .page-content .paragraph {
  margin: 14px 0;
}
.page-documentation .page-content p {
  line-height: 1.6em;
}
.page-documentation .page-content .segment >.header {
  color: #2196f3;
}
.page-documentation .page-content md-list.numbers .md-fab {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  font-size: 26px;
}
.page-documentation .page-content md-list.numbers .list-item {
  position: relative;
}
.page-documentation .page-content md-list.numbers .md-list-item-text {
  margin-left: 80px;
  min-height: 71px;
}
.page-documentation .page-content md-list.numbers h3 {
  color: #2196f3;
}
.page-documentation .message {
  padding: 10px;
  margin-bottom: 20px;
}
.page-documentation .message.info {
  background: #fffdd1;
}
