.page-email-templates{

  .info-container{
    .info{
      padding: 10px;
      background: whitesmoke;
      border-radius: 4px;
      >.title{
        font-size: 1.2em;
        margin-bottom: 10px;
      }
      table{
        .title{
          font-weight: bold;
          padding-right: 10px;
        }
        .value{
          width: 100%;
        }
      }
    }
  }

  .template{
    border-top: solid 3px color-primary;
    border-bottom: solid 3px color-primary;
  }

}
