<md-card>
<div layout="row" layout-padding>

  <span class="md-headline">Accounts</span>
  <span flex="" class="flex"></span>

  <ng-pluralize class="md-subhead" count="accounts.count"
  when="{'0': 'No account is registered.',
  'one': '1 Account is registered.',
  'other': '{} Accounts are registered.'}">
</ng-pluralize>

</div>

<md-divider>
</md-divider>

<div layout-padding>
 <p>
   Recently Created:
 </p>

 <md-list-item ng-repeat="account in accounts.recent" layout="row" ng-click="openAccount(account)">
   <%-template('ui/account-avatar')%>
 <div class="md-list-item-text" layout="column">
  <p>{{account.email}}</p>
</div>
<span flex="" class="flex"></span>
<div class="md-list-item-text" layout="column">
  <p am-time-ago="account.createdAt"></p>
</div>
</md-list-item>

</div>


<md-card-actions layout="row" layout-align="end center">
<md-button ng-href="<%-get_path('manager/accounts')%>" class="md-raised md-primary">View</md-button>
</md-card-actions>
</md-card>
