div[ag-ui-paginator]{
  md-select{
    margin: 0;
  }
  .nav{
    background: #a9a9a9;
    padding: 5px;
    color: white;
    border-radius: 4px;
    md-icon{
      color: white;
    }
    .counter{
      input{
        text-align: right;
        width: 45px;
        height: 28px;
        margin-right: 5px;
        border-radius: 4px;
        background: white;
      }
    }
  }

}
