<div flex="50" class="info" layout="column">
  <p class="title"><%-lng(locals.title)%></p>
  <table>
    <%for(var def of locals.list){%>
  <tr>
  <td class="title">
    <%-lng(def.title)%>:
  </td>
  <td>
    {{email.template.<%-def.value%>}}
  </td>
  </tr>
  <%}%>
  </table>
</div>
